<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">BeautyApp</ion-label>
    </ion-col>
  </ion-row>
  <div>
  </div>
  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>


<ion-content>
  <!-- User registration section -->
  <ion-list *ngIf="shouldRegister" no-lines no-margin no-padding class="signUpSection">
    <p class="EnterActivationCode">
      {{headerLabelMessage}}
    </p>
    <div class="inputNameSection">
      <ion-input type="text" maxlength="11" type="tel" [(ngModel)]="cust_phone_sign_up"
        (keyup)="OnValueEnterPhone($event.target.value)" placeholder="Please enter your mobile number"
        class="inputPhone"></ion-input>
      <p ion-text [hidden]="isValidName" color="danger" padding-left>
        {{errorMessagePhone}}
      </p>
    </div>

    <div>
      <ion-input type="text" maxlength="100" [(ngModel)]="firstname" (keyup)="OnValueEnterName($event.target.value)"
        placeholder="Please enter your name" class="inputName"></ion-input>
      <p ion-text [hidden]="isValidName" color="danger" padding-left>
        {{errorMessageName}}
      </p>
    </div>
    <div>
      <ion-input type="text" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="email"
        (keyup)="OnValueEnterEmail($event.target.value)" placeholder="Please enter your email" class="inputEmail"
        [(ngModel)]="username"></ion-input>
      <p ion-text [hidden]="isValidEmail" color="danger" padding-left>
        {{errorMessageEmail}}
      </p>
    </div>
    <ion-list radio-group [(ngModel)]="customerGender" class="GenderList">
      <ion-row no-padding no-margin>
        <ion-col col-4>
          <ion-item no-padding no-margin [ngClass]="isGenderMale ? 'SelectedMaleGender':'maleGender' ">
            <ion-label no-padding no-margin>Are you a: </ion-label>
          </ion-item>
        </ion-col>
        <ion-col no-padding no-margin col-4>
          <ion-item no-padding no-margin [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
            <ion-radio item-left value="female" checked="!isGenderMale" (ionSelect)="genderFemaleTapped()"></ion-radio>
            <ion-label item-right no-padding no-margin>Female</ion-label>
          </ion-item>

        </ion-col>
        <ion-col no-padding no-margin col-4>
          <ion-item no-padding no-margin [ngClass]="isGenderMale ? 'SelectedMaleGender':'maleGender' ">
            <ion-radio item-left value="male" checked="isGenderMale" (ionSelect)="genderMaleTapped()"></ion-radio>
            <ion-label item-right no-padding no-margin>Male</ion-label>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-list>

    <button ion-button class="custom_button" (click)='OnCompleteSignUp()'>Register</button>

    <div class="alreadyRegister">
      <p class="lblAlreadyRegister">
        Already registered?<span class="lblLogin" (click)="switchToLogin()">Please sign in. </span>
      </p>
    </div>
  </ion-list>
  <!-- End User registration section -->

  <!-- User Login section -->
  <div *ngIf="shouldLogin" class="loginSection">

    <ion-label text-wrap class="EnterActivationCode  font-for-sub-header-content">
      Please enter your mobile number

    </ion-label>
    <div>
      <ion-input #inputPhoneNumberForActivation class="font-for-sub-header-content" type="tel" maxlength="11"
        pattern="123" pattren="^[0-9]" (keyup)="OnValueEnterPhoneLogin($event.target.value)" placeholder="0300000000"
        class="inputPhoneNumber" [(ngModel)]="cust_phone_login"></ion-input>
    </div>

    <p style="margin: 5%;" ion-text [hidden]="isValid" color="danger" padding-left>
      {{errorMessageLogin}}
    </p>


    <!-- <button style="text-transform: none;" ion-button class="lblLogin" (click)="OnLogin()"> Continue..
    </button> -->
    <button ion-button class="custom_button" (click)="OnLogin()"> Continue</button>
    <div class="alreadyRegister">
      <p class="lblAlreadyRegister">
        Not registered yet? <span class="lblLogin" (click)="switchToRegister()"> Register </span>
      </p>
    </div>

  </div>
  <!-- End User Login section -->


  <!-- Should Otp Enter -->
  <div *ngIf="shouldOtp" class="otpSection">
    <ion-label class="EnterActivationCode font-for-sub-header">
      Enter activation code </ion-label>

    <p class="EnterActivationCode font-for-sub-header-content ">
      Please enter the code we have just sent to </p>
    <p class="EnterActivationCode"> {{ cust_phone_sign_up}} </p>

    <ion-input #inputPhoneNumberForOTP class="input-otp-phone-auth" type="tel" maxlength="11" pattern="123"
      pattren="^[0-9]"  (keyup)="OnValueEnterOtp($event.target.value)"
      [(ngModel)]="authCodeRegister"></ion-input>
    <span class="resendCode" (tap)="resendActivationCode(cust_phone_sign_up)">
      Resend code
    </span>

  </div>

  <!-- Should Otp Enter -->

  <!-- Should Otp Login Enter -->
  <div *ngIf="shouldOtpLogin" class="otpSection">
    <ion-label class="EnterActivationCode font-for-sub-header">
      Enter activation code </ion-label>

    <p class="EnterActivationCode font-for-sub-header-content ">
      Please enter the code we have just sent to </p>
    <p class="EnterActivationCode"> {{ cust_phone_login}} </p>

    <ion-input #inputPhoneNumberForOTP class="input-otp-phone-auth" type="tel" maxlength="11" pattern="123"
      pattren="^[0-9]" (keyup)="OnValueEnterOtpLogin($event.target.value)" [(ngModel)]="authCodeLogin"></ion-input>
    <span class="resendCode" (tap)="resendActivationCode(cust_phone_login)">
      Resend code
    </span>

  </div>

  <!-- Should Otp Enter -->

</ion-content>