<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Select Speciality</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>

  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>
<ion-content fullscreen #myContent>
  <ion-row>
    <ion-col col-6 class="col-speciality" *ngFor="let item of  homepageData" [hidden]="item.view === 'FavoriteSalonsPage' ">

      <div  class="testDiv">

        <ion-row  no-padding no-margin class="featuredItem" (click)='findNextPage(item)'>
          <ion-col no-padding no-margin>
            <img class="featuredImage" [src]="homeImageUrl + item.sectionImage" />
          </ion-col>
        </ion-row>
        <ion-label text-wrap class="lbl-speciality">{{item.sectionName}}</ion-label>
      </div>

    </ion-col>
  </ion-row>
</ion-content>