page-salon-reviews {
    ul {
        padding: 0px !important;
        &.rating li {
          padding: 5px 0px 0px !important;
          margin: 0px !important;
          color: #ffb400;
         
          ion-icon {
           
            font-size: 5.29vw;
          }
        }
      }
      
      .notHeader{
        font-size: 6.08vw;
        font-family: $Montserrat-SemiBold !important;
      }
      .DateStyle{
        font-size: 3.17vw;
        font-family: $Montserrat-Medium !important;
        float:right;
      }
      .ReviewsDetails{
        padding-right: 10px; padding-top:5px;
        padding-bottom: 10px;
        color: rgba(0, 0,0, 0.8);
        font-family: $Montserrat-Medium;
        font-size: 3.97vw;
      }
      .headerLabel{
        position: absolute;
        bottom:16px;
        left:13.5px;
        text-align:center;
        font-size:30px;
        font-family: $Montserrat-SemiBold !important;
        color:black;
       
      }
      
      .rating{
        height:20px;
        margin:0px !important;
        padding-top: 1px !important;
      }
      
      .backButton{
        position: absolute;
        bottom:50px;
        text-align:center;
        font-size:30px;
        color:white
      }

      .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }
    .platform-ios .ios-header {
        height:calc(56px + 20px);
        min-height:calc(56px + 20px);
        padding-top:20px;
      }
      .label-ios {
        margin: 10px 0px 0px 0px;
    }
    .label-md {
        margin: 10px 0px 0px 0px;
    }
    
    .header_border{
        width:100%;
        height:100%;
      width:100%;
        height:2px;
      margin-top:10px;
      background-color: #F5F5F5;
      padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

}
