page-confirm-booking {
  .ionHeader {
    width: 100%;
    z-index: 999;
    padding-bottom: 10px;
    position: relative;
    background: $Beautyapp-gradient-color;
    .headerRow {
      .backIcon {
        width: 35px;
        height: 15px;
        margin-top: 28px;
        margin-left: 12.5px;
        margin-bottom: 0px;
        z-index: 99999; //
        transition: 0.2s linear;
      }
      .colHheaderLabel {
        // background: deeppink !important;
        width: 100%;
        .upperHeading {
          // height: 30px;
          color: #ffffff;
          font-family: $Montserrat-Bold !important;
          font-size: 4.63vw;
          width: 100%;
          margin-top: 14px !important;
          text-align: center;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .colMenu {
        // background: darkorange;
        .menuIcon {
          width: 30px;
          height: 17px; // width: 25px;
          // height: 8.5px;
          margin-top: 31px;
          position: absolute;
          right: 15.5px;
          z-index: 1; //
          transition: 0.2s linear; //
          // background: green;
        }
      }
    }
    .BaseGenderSegment {
      //background: white !important;
      width: calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px;
      height: 40.5px; // position: absolute;
      // bottom: 0;
      padding-bottom: 2px !important; // top: 0 ;
      margin-top: 20px; // bottom: -23.5px;
      border-radius: 24.5px; // z-index: 99999 !important;
      // margin-bottom: 15px !important;
      .GenderSegement {
        background: transparent !important;
        width: 100%;
        height: calc(100% - 5px);
        margin-bottom: 0px !important;
        .segment-button {
          height: 25px;
          background: transparent !important;
          border-color: transparent !important;
          margin-top: 0px !important;
          margin-bottom: 0px !important;
          line-height: 25px !important; //color: rgb(35, 31, 32);
          color: white !important;
          font-size: 3.97vw;
          line-height: 30px !important; // font-family: $Montserrat-SemiBold !important;
          font-family: $Montserrat-Regular;
        }
        .segment-button.segment-activated {
          height: 25px;
          line-height: 25px !important;
          margin-bottom: 0px !important; //   color: rgb(35, 31, 32);
          color: white !important;
          font-size: 4.5vw;
          font-family: $Montserrat-Regular;
          line-height: 30px !important;
        }
      }
      .sliderContainer {
        margin-left: 22px !important;
        margin-right: 22px !important;
        margin-top: 3px;
        height: 2px;
        width: calc(100% - 44px) !important;
        background-color: transparent;
        box-shadow: none;
        .slider {
          background: white !important; //  background-color: rgb(236, 78, 137) !important;
          height: 100% !important;
          margin-bottom: 0px !important;
          width: calc(50% - 20px); // float: right;
          padding-top: 5px !important;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 1px;
        }
      }
    }
  }

  // ul {

  //     background: red;
  //     padding: 0px;
  //     margin-top: 5px;
  //     margin-bottom: 0px;
  //     &.rating li {
  //       padding: 3px 3.9px 0px 0px !important;
  //       background: none;
  //       color: rgb(255, 189, 2);
  //       ion-icon {
  //         font-size: 5.29vw;
  //       }
  //     }
  //   }

  .BaseContentContainer {
    overflow: hidden;
    background: rgb(245, 245, 245);
    .lblReviewAppointment {
      // margin-top: 10px !important;
      margin-top: 30px !important;
      margin-bottom: 20px !important;
      width: 100%;
      text-align: left;
      margin-left: 12px;
      margin-right: 9px;
      width: calc(100% - 18px);
      //  line-height: 16px;
      background: transparent;
      font-family: $Montserrat-SemiBold !important;
      font-size: 4.23vw;
      color: rgb(35, 31, 32);

      //background: red;
    }

    .lblBoldText {
      // background: yellow;
      margin-left: 12px;
      font-size: 4.23vw;
      color: rgb(35, 31, 32);
      //  color: rgba(27, 27, 27, 0.9);
      font-family: $Montserrat-SemiBold !important;
      //font-family: $Montserrat-SemiBold !important; // background: green;
      .lblDimText {
        text-align: left;
        letter-spacing: 0.3px;
        color: rgba(104, 104, 104, 0.9);
        margin-top: 10px;
        margin-bottom: 15px;
        // font-family: $Montserrat-Medium;

        // color: rgba(27, 27, 27, 0.9);
        font-family: $Montserrat-Regular !important;
        //    font-family: $Montserrat-SemiBold !important; // background: green;
      }
    }

    .salonDetailCard {
      width: 100%;
      background: white;
      border: 1px solid rgb(235, 235, 235);
      box-shadow: none;
      padding: 0px;
      margin: 0px;
      margin-top: 0px;
      .salonName {
        margin-top: 10.3px;
        margin-left: 9.7px;
        margin-right: 4px;
        width: calc(100% - 16.5px);
        white-space: normal;
        overflow: hidden;
        color: rgb(67, 67, 67);
        font-size: 4.23vw;
        line-height: 15px;
        text-align: left;
        // font-family: $Montserrat-Medium;
        font-family: $Montserrat-Bold !important;
      }
      .SalonAddress {
        margin-top: 5.3px;
        width: calc(100% - 13.3px);
        height: 13.7px;
        margin-left: 9.7px;
        margin-right: 4px !important;

        .lblAddress {
          font-size: 4.23vw;
          height: 100%;
          width: calc(100% - 55px);
          line-height: 12.5px;
          color: rgb(150, 150, 150);
          font-family: $Montserrat-Medium;
          float: left;
          margin-top: 1px;
          margin-bottom: 1px;
          // background: deepskyblue;
        }
        .PinImageWithDistance {
          width: 40px !important;
          height: 13.7px !important;
          margin-right: 5.3px;
          float: right;
          font-family: $Montserrat-Medium;
          // background: green;
          .pinImage {
            width: 5px;
            height: 7.5px;
            float: left;
            position: relative;
            right: 0;
            margin-right: 3px !important;
            margin-top: 3.25px;
          }
          .pinDistance {
            height: 10px;
            float: right;
            font-size: 7.7px;
            letter-spacing: 0.4;
            margin-top: 2.5px;
            margin-left: 0px !important;
            margin-right: 0px;
            color: rgb(255, 95, 109);
            text-align: left;
          }
        }
      }

      .SalonRating {
        margin-top: 5.3px;
        width: calc(100% - 13.3px);
        height: 13.7px;
        margin-left: 9.7px;
        margin-right: 4px !important;

        .RatingInt {
          background: red;
          font-size: 4.23vw;
          height: 100%;
          margin-top: 5px;

          line-height: 12.5px;
          color: rgb(150, 150, 150);
          font-family: $Montserrat-Medium;
          float: left;

          // background: deepskyblue;
        }
        .ratingAll {
          width: 40px !important;
          height: 13.7px !important;
          margin-left: 20px;
          font-family: $Montserrat-Medium;
          // background: green;

          .pinDistance {
            height: 10px;
            float: right;
            font-size: 7.7px;
            letter-spacing: 0.4;
            margin-top: 2.5px;
            margin-left: 0px !important;
            margin-right: 0px;
            color: rgb(255, 95, 109);
            text-align: left;
          }
        }
      }

      .NotRatedYet {
        background: red;
        margin-top: 6px;
        height: 15px;
        font-size: 4.5vw;
        color: rgb(255, 189, 2);
        font-family: $Montserrat-Medium !important;
        text-align: left; // background: green !important;
        padding-left: 0px;
        line-height: 15px;
      }

      .starsParent {
        width: 105px;
        height: 15px;
        margin-top: 0px !important;
        margin-left: 30px;

        float: right;
        margin-bottom: 21px;
        .star {
          width: 9.7px;
          height: 8.3px;
          margin-right: 4px;
        }
      }
    }

    .DateAndTimeBookedCard {
      width: 100%;
      box-shadow: none;
      background: transparent;
      margin-top: 11.7px !important;
      margin-bottom: 14.7px !important;
      .lblBoldTextDate {
        // background: blue;
        float: left;
        margin-left: 10px;
        // font-size: 16px;
        // color: rgba(27, 27, 27, 0.9);
        font-size: 4.23vw;
        color: rgb(35, 31, 32);
        font-family: $Montserrat-SemiBold !important;
        .lblDimTextdate {
          text-align: left;
          letter-spacing: 0.3px;
          color: rgba(104, 104, 104, 0.9);
          margin-top: 10px;
          margin-bottom: 15px;
          // font-family: $Montserrat-Medium;

          // color: rgba(27, 27, 27, 0.9);
          font-family: $Montserrat-Regular !important;
          //    font-family: $Montserrat-SemiBold !important; // background: green;
        }
      }
      .lblTotal {
        float: right;
        margin-right: 5.3px;
        font-size: 3.7vw;
        line-height: 22px;
        color: rgba(66, 66, 66, 0.9);
        // background: #e74e86;
        font-family: $Montserrat-Bold !important;

        text-align: right;
        .lblPrice {
          font-size: 3.7vw;
          text-align: left;
          letter-spacing: 0.3px;
          color: rgb(222, 32, 90);
          float: right;
          font-family: $Montserrat-Bold !important;
          margin-right: 0pt !important;
          margin-left: 9pt !important;
        }
      }
    }
    .DateAndTimeDetailRow {
      width: 100%;
      height: 66px;
      background: white;
      margin-bottom: 38px !important;
      // background: green;
      position: relative;

      .lblDateField {
        font-family: $Montserrat-SemiBold;
        width: 100%;
        font-size: 3.7vw;
        line-height: 22.5px; // background: green;
        text-align: left !important;
        // font-family: $Montserrat-SemiBold !important;
        // font-family: $Montserrat-SemiBold !important; // background: green;
        color: rgb(77, 77, 77);
        margin-top: 13px;
        margin-left: 10px !important;
      }
      .lblDateValue {
        //background: #e74e86;
        width: 100%;
        font-size: 3.43vw;

        margin-top: 0px;
        text-align: left !important;
        margin-left: 10px !important;
        font-family: $Montserrat-SemiBold;
        color: rgb(174, 174, 174);
        margin-bottom: 12px;
      }
      .DateDetailCol {
        background: red;
      }
    }
    .selectedServicesCard {
      width: 100%;
      box-shadow: none;
      margin-bottom: 1px;
      .serviceCellSelected {
        width: 100%;
        background: rgb(235, 235, 235);
        margin-top: 0px;
        position: relative; // background: gold;
        .checkBoxCol {
          position: relative;
          width: 100%;
          background: rgb(255, 255, 255); // background: red !important;
          margin-bottom: 1px;
          .CheckBox {
            // background: red !important;
            width: 12.7px;
            height: 12.7px;
            margin-left: 8px;
            float: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            .checkbox-icon {
              border-color: rgb(77, 77, 77);
              background-color: white;
            }
          }
        }
        .serviceNameCol {
          padding-left: 10px;
          background: rgb(255, 255, 255); // background: green;
          position: relative; // height: 100%;;
          margin-bottom: 1px;
          .serviceName {
            //background:red;

            width: 100%;
            font-size: 3.7vw;
            line-height: 22.5px; // background: white;
            text-align: left !important;
            // font-family: $Montserrat-SemiBold !important;
            // font-family: $Montserrat-SemiBold !important; // background: green;
            font-family: $Montserrat-SemiBold;
            color: rgb(77, 77, 77);
          }
          .serviceTime {
            //background: #e74e86;
            width: 100%;
            font-size: 3.43vw;
            line-height: 22.5px;
            margin-top: 0px; // background: blue ;
            text-align: left !important;
            // font-family: $Montserrat-Medium !important;
            // font-family: $Montserrat-SemiBold !important;
            font-family: $Montserrat-SemiBold !important;
            color: rgb(174, 174, 174);
          }
        }
        .serPriceCol {
          position: relative;
          width: 100%; // height: 100%;
          background: rgb(255, 255, 255); //
          // background: green;
          margin-bottom: 1px;
          position: relative;
          .serviceCost {
            width: 100%;
            background: rgb(255, 255, 255);

            color: rgb(35, 31, 32);
            margin-top: 0px !important;
            font-size: 3.7vw;
            line-height: 22.5px;

            font-family: $Montserrat-SemiBold !important;
            text-align: right;

            padding-right: 6px !important;
            // background: red !important;
          }
        }
        .approx-time {
          // background: darkorange;
          font-size: 3.43vw; // background: red;
          height: 35%;
          line-height: 13px;
          margin-bottom: 0px !important;
          font-family: $Montserrat-SemiBold !important;
          color: rgb(80, 80, 80);
        } // }
        .note {
          color: #000;
          font-size: 4.63vw;
          font-family: $Montserrat-SemiBold !important;
        }
      }
    }
  }
  .content-ios {
    color: white;
  }
  .title {
    z-index: 999;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    align-content: left !important;
    text-align: left !important;
  }
  button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
    margin-top: -50px;
  }
  .headerLabel {
    position: absolute;
    bottom: 16.5px;
    left: 13.5px;
    text-align: center;
    font-size: 30px;
    font-family: $Montserrat-SemiBold !important;
    color: white;
  }
  .backButton {
    position: absolute;
    bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
  }
  .backIcon {
    width: 40px;
    margin-top: 30px;
    background: transparent;
    height: 40px;
    color: white;
    padding: 0px;
    opacity: 1;
  }
  .backIcon:active {
    background-color: transparent;
  }
  .backIcon:focus {
    background-color: transparent;
  }
  .appoDetailsView {
    background: white;
    margin-left: 14px;
    margin-top: 17px;
    margin-right: 14px;
    border-radius: 5px;
    border: 0.5px solid rgb(225, 225, 225);
  }
  .reviewLabel {
    width: 100%;
    color: black;
    text-align: left;
    line-height: 50px;
    padding-left: 10px;
    margin: 0px;
    border: 0.5px solid rgb(225, 225, 225);
    height: 50px;
    font-size: 6.08vw;
    font-family: $Montserrat-SemiBold !important;
  }
  .techDetailsView {
    height: 100px;
    border: 0.5px solid rgb(225, 225, 225);
    width: 100%;
  }
  .imgTech {
    height: 54px !important;
    width: 54px !important;
    position: relative;
    top: 23px;
    left: 12px;
    border-radius: 27px;
  }
  .salName {
    position: relative;
    left: 75px;
    top: -40px;
    font-size: 6.34vw;
    width: 78%;
    line-height: 24px;
    font-family: $Montserrat-SemiBold !important;
    color: black; // background: deeppink;
  }
  .techName {
    position: relative;
    left: 75px;
    top: -50px;
    font-size: 3.97vw;
    color: rgba($color: #000000, $alpha: 0.7);
    font-family: $Montserrat-Medium !important;
  }
  .bookingDateTimeView {
    height: 85px;
    border: 0.5px solid rgb(225, 225, 225);
  }
  .bookingDate {
    color: black;
    width: 50%;
    margin-top: 19px;
    font-size: 3.97vw;
    font-family: $Montserrat-SemiBold !important;
    padding-left: 10px;
    float: left;
  }
  .bookingTime {
    color: black;
    padding-left: 10px;
    width: 50%;
    font-size: 3.97vw;
    font-family: $Montserrat-SemiBold !important;
    float: right;
    margin-top: -30px;
  }
  .lblBookingDate {
    color: rgb(154, 154, 160);
    width: 50%;
    margin-top: 0px;
    font-size: 3.97vw;
    font-family: $Montserrat-SemiBold !important;
    padding-left: 10px;
    float: left;
  }
  .lblBookingTime {
    color: rgb(154, 154, 160);
    padding-left: 10px;
    width: 50%;
    font-size: 3.97vw;
    font-family: $Montserrat-SemiBold !important;
    float: right;
    margin-top: -30px;
  }
  .servicesList {
    // height: 160px;
    margin-top: 20px; // background: red;
  }
  .bullet {
    color: rgb(154, 154, 160);
    font-size: 5.82vw;
    padding: 0px !important;
    text-align: center;
  }
  .serName {
    height: 25px !important;
    line-height: 29px;
    font-size: 3.7vw;
    margin-left: 5px !important;
    width: 100%;
    font-weight: 600;
    color: rgb(154, 154, 160);
  }
  .SubStyleAtTopPostion {
    width: 100%;
    height: 45px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    margin-bottom: 0px;
    img.imgSubStyle {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      float: left; // margin-top: 0px;
      margin-left: 5px;
      background: red;
    }
    .lblSubStyleName {
      // background: red;
      // line-height: 40px;
      line-height: 50px;
      width: 4px;
      height: 100%; // margin-right: 20px;
      margin-top: 0px;
      box-shadow: none;
      border: none;
      font-size: 3.97vw;
      color: rgb(154, 154, 160);
      font-family: $Montserrat-Medium !important;
    }
    .note {
      color: #000;
      font-size: 4.63vw;
      font-family: $Montserrat-SemiBold !important;
    }
  }
  .appoFee {
    color: black;
    width: 50%;
    margin-top: 18px !important;
    font-size: 3.97vw;
    font-family: $Montserrat-SemiBold !important;
    padding-left: 20px;
    float: left;
  }
  .totalAmount {
    color: black;
    width: 50%;
    text-align: right;
    padding-right: 20px;
    font-size: 3.97vw;
    font-family: $Montserrat-SemiBold !important;
    float: right;
    margin-top: -30px;
  }
  .toBePaidNow {
    color: rgb(154, 154, 160);
    width: 50%;
    margin-top: -8px;
    font-size: 2.65vw;
    font-family: $Montserrat-Medium !important;
    padding-left: 20px;
    float: left;
  }
  .toBePaidSalon {
    color: rgb(154, 154, 160);
    width: 50%;
    text-align: right;
    padding-right: 20px;
    font-size: 2.65vw;
    font-family: $Montserrat-Medium !important;
    float: right;
    margin-top: -24px;
  }
  .adView {
    margin-top: 30px;
    height: 195px;
    background: white;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 60px !important;
  }
  .skipAppointmentLabel {
    color: black;
    width: 100%;
    padding-top: 35px;
    text-align: center;
    font-size: 6.34vw;
    font-family: $Montserrat-SemiBold !important;
  }
  .watchingAdLabel {
    color: black;
    font-size: 3.43vw;
    width: 100%;
    margin-top: -5px !important;
    text-align: center;
    font-family: $Montserrat-Medium !important;
  }
  .watchAdButton {
    // margin-left: 34px !important;
    // margin-right: 34px !important;
    margin-top: 17px; // display: inline-flex;
    font-size: 5.29vw;
    color: white;
    font-family: $Montserrat-SemiBold !important;
    height: 48px;
    width: 270px;
    background-color: $Beautyapp-gradient-color;
  }
  .watchAdButton:focus {
    background-color: $Beautyapp-gradient-color;
  }
  .watchAdButton:active {
    background-color: $Beautyapp-gradient-color;
  }
  .btnConfirmBooking {
    width: 100%;
    text-align: center;
    height: 45px;
    align-content: center;
    color: white;
    font-size: 4.5vw;
    font-family: $Montserrat-SemiBold !important;
    background-color: $Beautyapp-gradient-color;

    // position: absolute;
    // margin-top: 7px;
    margin: 0px !important;
    bottom: 0px !important; // font-family: SF-Pro-Display-Regular;
  }
  .btnConfirmBooking:focus {
    background-color: $Beautyapp-gradient-color;
  }
  .btnConfirmBooking:active {
    background-color: $Beautyapp-gradient-color;
  }
}
