page-sing-up {

    .logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;
    
        img {
          max-width: 150px;
        }
      }
    
      .list {
        margin-bottom: 0;
      }
      
    .custom_button{
      background: rgb(255, 95, 109);
      margin: 5%;
      color:white;
     
      margin-right:10%;
    }

      .inputStyle{
    
        margin-left: 10%;
        margin-right:10%;
      }
        .ionContent{
            background-color: #F5F5F5;
            width: 100%;
            height: 100%;
          }
      
          .EnterActivationCode{
            font-size: 5.29vw;
            font-weight: 700;
            color:rgb(60, 60, 60);
      
          }
          
          .label {
            margin: 0;
         }
         ion-item.p {
          padding-left: 0;
      }
      
         
      
          .label-md {
            margin: 0px 0px 0px 0;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }
          
         
          .cusrsor{
            height: 100%;
            width: 100%;
          
          }
      
          

        .headerLabel{
          position: absolute;
          bottom:26px;
          // left:13.5px;
          text-align:center;
          font-size:30px;
          font-weight:800;
          color:white;
          width:100%;
        }

        .text-input-ios {
          margin: 11px 8px 11px 0;
          padding: 5px 5px 5px 10px;
          width: calc(100% - 8px);
      }
      .text-input-md {
        margin: 11px 8px 11px 0;
        padding: 5px 5px 5px 10px;
        width: calc(100% - 8px);
    }      
        
}

