<ion-header class="ionHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Book Appointment</ion-label>
    </ion-col>
  </ion-row>
  <div></div>
</ion-header>
<ion-content padding style="background:white">
  <div class="chooseTechLabel">Choose your Doctor</div>
  <div *ngIf="!appointment" class="TechnicianListing">
    <ion-row
      class="technicianRowBase"
      *ngFor="let tech of allTechs; let i = index"
      (click)="OnTechSecltion(tech, i)"
      [ngClass]="tech.isSelected ? 'techSelected' : 'techUnselected'"
    >
      <ion-col col-6 class="leftContainer">
        <ion-row class="leftContainerInner">
          <ion-col col-2 class="checkBoxCol">
            <ion-checkbox
              class="checkboxText"
              item-start
              (click)="OnTechSecltion(tech, i)"
              [checked]="tech.isSelected"
            >
            </ion-checkbox>
          </ion-col>
          <ion-col col-10 class="TechNameCol">
            <div class="techNamelb">
              {{ tech.tech_name }}
            </div>
          </ion-col>

          <ion-col hidden col-4 class="TechImagecol">
            <ion-avatar class="techImageAvatar" item-start>
              <img [src]="baseUrl + tech.tech_pic" class="techImage" />
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6 class="rightContainer">
        <ion-row class="rightContainerInner">
          <ion-col col-6 class="TechImagecol">
            <ion-avatar class="techImageAvatar" item-start>
              <img [src]="baseUrl + tech.tech_pic" class="techImage" />
            </ion-avatar>
          </ion-col>

          <ion-col col-6 class="TechSpecialityCol">
            <div class="specialitylb">
              Speciality
              <p class="specialityvaluelb">
                {{ tech.tech_specialty }}
              </p>
            </div>
          </ion-col>
          <ion-col hidden col-6 class="TechAvailbilitycol">
            <div class="availabilitylb">
              Availability
              <p class="availabilityvaluelb">
                {{ tech.next_available_time }}
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<!-- main Content -->
<ion-footer>
  <div class="btnNext" (click)="btnNextTappe()">Next</div>
</ion-footer>
