page-slots-view {
    
    .lblNoData {
        margin-top: 75px !important;
        width: 100%;
        height: 100%;
        padding-top: 20%;
        align-content: center;
        text-align: center;
        position: absolute;
        margin: auto;
        overflow: auto;
        .imgNothingFound {
            height: 130px;
            width: 130px;
        }
        .lblNothingFound {

            align-content: center;
            text-align: center;
            height: 25pt;
            font-size: 4.23vw;
            margin-top: 20px;
            line-height: 25pt;
            font-family: $Montserrat-Regular !important;
        }
    }
    .chooseDateTimeLabel {
        // opacity: 90%;
        font-size: 4.5vw; //  font-family: $Montserrat-SemiBold !important;
        font-family: $Montserrat-SemiBold !important;
        // padding-left: 10.7pt;
        height: 48px;
        line-height: 48px;
        letter-spacing: 0.4px;
        padding-left: 10px;
        background: rgb(245, 245, 245);
        margin: 0px !important;
        color: rgba(27, 27, 27, 0.9);
        // background: red;
    }
    .slotSelected {
        border: 0.5px solid rgb(235, 235, 235);
        background: rgb(255, 255, 255);
    }
    .slotUnSelected {
        border: 0.5px solid rgb(235, 235, 235);
        background: rgb(245, 245, 245);
    }
    .SlotListing {
        height: auto;
        margin-top: 10px !important;
        .slotRowBase {
            width: 100%;
            height: 45pt;
            overflow: hidden;
            width: 100%;
            margin: auto;
            background: white;
            .slotTime {
                float: right;
                margin: auto;
                .timelbl {
                    font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-SemiBold !important; // background: green;
                    margin-left: 30 !important;
                    font-size: 3.97vw;
                    color: rgb(77, 77, 77);
                    position: relative !important;
                    top: 35% !important;
                    transform: translateY(-35%) !important;
                }
                .timevaluelbl {
                    
                    font-family: $Montserrat-SemiBold !important;
                    font-size: 2.65vw !important;
                    color: rgb(174, 174, 174);
                    position: relative !important;
                    top: 35% !important;
                    transform: translateY(-35%) !important;
                }
            }
            .checkBoxCol {
                top: 2pt !important;
                left: 4pt !important;
                // width: 12.7pt;
                margin: auto;
                // background: red;
                ion-checkbox {
                    // margin-left: 15px !important;
                    position: relative !important;
                    top: 50% !important;
                    left: 25%;
                    transform: translateY(-50%) !important;
                    transform: translateX(-25%);
                }
            }
        }
    }
    .title {
        z-index: 999;
        margin-top: 35pt;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
    }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        margin-top: -50px;
    }
    .content-ios {
        background: white;
    }
    .headerLabel {
        position: absolute;
        bottom: 16.5px;
        left: 13.5px;
        text-align: center;
        font-size: 8.7vw;
        font-family: $Montserrat-SemiBold !important;
        color: white
    }
    .backIcon {
        padding-right: 10px;
        width: 50px;
        height: 40px;
        background: transparent;
        height: 40px;
        padding: 0px;
        margin-left: 5pt;
        opacity: 1.0;
        margin-top: 20pt;
    }
    .backIcon:active {
        background-color: transparent;
    }
    .backIcon:focus {
        background-color: transparent;
    }
    .noDateAvailable {
        position: fixed;
        bottom: 160px;
        color: black;
        font-size: 5.29vw;
        font-weight: 600;
        z-index: 100;
        height: 21px;
        text-align: center;
        width: 100%;
        line-height: 70% !important;
    }
    ion-card-header .card-header-ios {
        border: 1px solid white;
        width: 100%;
        background-color: transparent; // padding-left: 5pt;
    }
    .card-header-ios {
        color: white;
        border-width: 1px;
        border-color: white;
        border: 0.5px solid white;
        background-color: transparent !important;
    }
    .SubStyleAtTopPostion {
        width: 100%;
        height: 45px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
        img.imgSubStyle {
            width: 30px;
            height: 30px;
            border-radius: 5px; // margin-top: 0px;
        }
        .lblSubStyleName {
            box-shadow: none;
            border: none;
            font-size: 5.29vw;
            font-family: $Montserrat-SemiBold !important;
        }
    }
    .availableSlotsLabel {
        font-size: 6.34vw;
        font-family: $Montserrat-SemiBold !important;
        width: 100%;
        padding-left: 14px;
    }
    .grid {
        margin-left: 115px !important;
        margin-right: 115px !important;
        margin: 0px auto !important;
        margin-bottom: 50px !important;
    }
    .clsColumn {
        border: 0.7px solid #000;
        border-color: black;
        margin-top: 15px;
        margin-left: 8px;
        margin-right: 8px;
        height: 32px !important;
        border-radius: 2px;
    }
    .lblSlots {
        font-size: 3.43vw;
        font-family: $Montserrat-Regular !important;
        margin: 0px !important;
        letter-spacing: 0.3px;
        text-align: center !important;
        line-height: 38px;
        height: 40px !important;
    }
    .btnNext {
        width: 100%;
        text-align: center;
        line-height: 45px;
        height: 45px;
        align-content: center;
        background-color: $Beautyapp-gradient-color;
        color: white;
        font-size: 4.5vw;
        font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-SemiBold !important;
        position: absolute;
        margin: 0px;
        bottom: 0px !important;
    }
    .btnNext:focus {
        background: $Beautyapp-gradient-color
        
    }
    .btnNext:active {
        background: $Beautyapp-gradient-color
    }
    .backButton {
        margin-left: 20pt;
        position: absolute;
        font-size: 30px;
        color: white;
    } //dummy code 
    .checkbox-ios .checkbox-icon {
        border-color: #000;
        background-color: white;
    }
    .checkbox-ios .checkbox-checked {
        border-color: #000 !important;
        background-color: white !important;
    }
    .checkbox-ios .checkbox-icon:after {
        border-color: blue; //whatever you like it to be
    }
    .toolbar-title-ios {
        font-size: 1.5rem;
        font-weight: 200;
    }
    .promotionContainer {
        margin-top: 0pt; // padding-top: 5pt;
        padding-bottom: 0pt;
        background: transparent; // height: 100pt;
        box-shadow: none;
        width: 100% !important;
        .oferrTitle {
            margin: 0pt; //5pt 10pt 0pt 10pt;
            font-size: 3.88vw;
            width: 100%;
            white-space: normal;
            overflow: hidden;
            font-family: $Montserrat-SemiBold !important;
            text-align: center;
            color: rgb(255, 95, 109);
        }
    } //for user profile input
    .custom_button {
        // background: rgb(255, 95, 109);
        background-image: $Beautyapp-gradient-color;
        color: white;
        font-size: 4.5vw;
        font-family: $Montserrat-SemiBold !important;
        width: calc(100% - 30px) !important;
        margin-top: 30px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .inputStyle {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .ionContent {
        background-color: #F5F5F5;
        width: 100%;
        height: 100%;
    }
    .EnterActivationCode {
        width: calc(100% - 30px) !important;
        margin-top: 30px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
        font-size: 4.23vw !important;
        font-weight: 700;
        color: rgb(60, 60, 60);
        line-height: 25px !important;
        font-family: $montserrat-light !important;
    }

    .GenderList {
        padding: 0px !important;
        margin: 16px 16px 16px 16px !important;
        box-shadow: none;
        // height: 8.23vh !important; // background: dodgerblue !important;
    }
    
    .label {
        margin: 0;
    }
    ion-item.p {
        padding-left: 0;
    }
    .label-md {
        margin: 0px 0px 0px 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .cusrsor {
        height: 100%;
        width: 100%;
    }
    .headerLabel {
        position: absolute;
        bottom: 26px; // left:13.5px;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        color: white;
        width: 100%;
    }
    .text-input-ios {
        margin: 11px 8px 11px 0;
        padding: 5px 5px 5px 10px;
        width: calc(100% - 8px);
    }
    .text-input-md {
        margin: 11px 8px 11px 0;
        padding: 5px 5px 5px 10px;
        width: calc(100% - 8px);
    } //end for user profile input
}