<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb"> -->
    <img src="./assets/imgs/splash.png">
  </div>
  <div class="bottomdiv">
    <ion-card>
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </ion-card>
    <label class="lblloading">Loading...</label>
  </div>
</div>

<ion-menu side="left" [content]="content" [swipeEnabled]="false">
  <ion-header class="SideMenuHeader">
    <img class="imgMenuClose" menuClose src="./assets/imgs/menuClose.png" />
  </ion-header>

  <ion-content class="Side-Menu">

    <div class="cust_img">
      <img class="menuImage" [src]=userProfileIcon onError="this.src='./assets/imgs/app_icon.png'" />
    </div>

    <div class="BothSideMenuList">
      <ion-list hidden menuClose no-padding no-margin no-lines *ngFor="let p of pages let lastIndex=last" no-lines
        class="MenuListing" (click)="openPage(p)">


        <img class="menuImage" [src]=p.icon />
        <ion-label class="pageName">{{p.title}}</ion-label>
        <div style="clear:both;"> </div>
      </ion-list>


      <ion-list menuClose no-padding no-margin no-lines *ngFor="let p of staticPages let lastIndex=last"
        class="MenuListing" (click)="openPage(p)">
        <img class="menuImage" [src]=p.icon />

        <ion-label class="pageName">{{p.title}}</ion-label>
        <div style="clear:both;"> </div>
      </ion-list>
      <ion-list  no-padding no-margin no-lines *ngFor="let p of subMenuHeader let lastIndex=last"
        class="MenuListing" (click)="showSubMenus(p)">
        <img class="menuImage" [src]=p.icon />

        <ion-label class="pageName">{{p.title}}</ion-label>
        <div style="clear:both;"> </div>
      </ion-list>
      
    </div>

    <ion-list [hidden]="!showSubMenuForAboutUs" menuClose no-padding no-margin no-lines
      *ngFor="let p of subMenuPages let lastIndex=last" class="MenuListing-sub-menu" (click)="openSubMenuPage(p)">
      <img class="menuImage" [src]=p.icon />

      <ion-label class="pageName">{{p.title}}</ion-label>
      <div style="clear:both;"> </div>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>