// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$select-ios-icon-color: #ff6f15 !important;
$checkbox-ios-background-color-off: transparent !important;
$checkbox-ios-background-color-on: green !important;
// $Beautyapp-gradient-color2: linear-gradient(to left, rgb(222, 32, 90), rgb(243, 91, 138));
// $Beautyapp-gradient-color: linear-gradient(to bottom, rgb(222, 32, 90), rgb(243, 91, 138));

$Beautyapp-gradient-color2: rgb(0, 47, 108);

$Beautyapp-gradient-color: rgb(0, 47, 108);
$MyDoc-Shadded-color: rgb(0, 144, 206);

.body {
    background-color: #ffffff;
    font-family: 'Montserrat-Medium' !important;
}

.header-md::after {
    display: none;
}

.customToastClassz {
    .toast-container {
        background-color: rgb(13, 158, 27) !important;
        border-radius: 5px;
    }

    .toast-message {
        width: 100%; // padding: 2pt;
        text-align: center;
        background-color: rgb(13, 158, 27);
        font-size: 3.7vw;
        font-family: $Montserrat-Regular !important;
        color: white;
        border-radius: 5px;
    }

    .scroll-content {
        overflow-y: auto;
    }

    .toast-message {
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    .toast-message:before,
    .toast-message:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }

    .toast-message:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }
}

.failureToastClass {
    .toast-container {
        background: rgb(175, 14, 14) !important;
        border-radius: 5px;
    }

    .toast-message {
        width: 100%;
        text-align: center;
        background: rgb(175, 14, 14);
        padding: 2pt;
        font-size: 3.7vw;
        font-family: $Montserrat-Regular !important;
        color: white;
        border-radius: 5px;
        line-height: 33px;
    }

    .scroll-content {
        overflow-y: auto;
    }

    .toast-message {
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

    .toast-message:before,
    .toast-message:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }

    .toast-message:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }
}

#imgwrap {
    margin-top: 34px;
    text-align: center;

    img {
        border: 0;
        border-radius: 50%;
    }
}

#imgwrapText {
    margin-top: 10px;
    min-width: 200px;
    text-align: center;
}

.item-ios [item-left],
.item-ios [item-start] {
    margin: 0px 6px 8px 0 !important;
}

.item-md .radio-md[item-left],
.item-md .radio-md[item-start] {
    margin: 11px 6px 10px 4px;
}

.item-md h2 {
    margin: 0 0 2px;
    font-size: 1.7rem;
    font-weight: normal;
}

.item-ios h2 {
    margin: 0 0 2px;
    font-size: 1.7rem;
    font-weight: normal;
}

.header_border_custom {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: #f0f0f0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.SideMenuHeader {
    height: 50pt !important;

    .imgMenuClose {
        position: absolute;
        z-index: 99999999;
        width: 30px !important;
        height: 18px !important;
        margin-top: 31px !important;
        margin-left: 9.7pt;
        left: 10px;
    }
}

.Side-Menu {
    background: rgb(255, 255, 255) !important;
    height: 100%;
    overflow: hidden;

    .CustomerSection {
        background: transparent;
        box-shadow: none;
        width: 100% !important;

        .menuClose {
            height: 14.7pt;
            width: 14.7pt;
            margin-top: 10pt;
            margin-left: 9.7pt !important;
            position: fixed;
            left: 10pt;
        }

        .imgCustomer {
            height: 50pt;
            width: 50pt;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 15pt !important; // background: green;
        }

        .customerName {
            height: 21pt;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 15pt;
            font-family: 'Montserrat-Medium';
            margin-top: 65pt !important; // background: red;;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-bottom: 15pt !important;
        }
    }

    .cust_img {
        // margin-left: 18px !important;
        // margin-top: 15px !important;
        width: 100%; // 

        // background: #e74e86;
        img {
            width: 18vw;
            height: 18vw !important;
            border-radius: 50%; //  position: absolute;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%)
        }
    }

    .BothSideMenuList {
        margin-top: 10px !important;
        overflow: hidden;
        position: relative;

        .MenuListing {
            // background: yellow !important;
            padding: 0px;
            margin: 0px;
            margin-left: 19px !important;

            .menuItem {
                //  background: pink !important;
                background: transparent;
                padding-right: 0p; //  margin:10pt;
                // background: green !important;
            }

            .menuImage {
                margin-top: 3.78vw;
                float: left; //  
                // background: #e74e86;
                width: 5vw !important;
                height: 5vw !important;
            }

            .pageName {
                margin-left: 12px !important;
                float: left;
                color: rgb(0, 0, 0);
                font-size: 16px; // text-align: left;
                margin-top: 3.78vw; // margin-top: 14pt;
                line-height: 16pt;
                font-family: 'Montserrat-Regular' !important; //font-family: 'Montserrat-Medium'; // background: red;
            }
        }
    }

    .MenuListing-sub-menu {
        // background: yellow !important;
        padding: 0px;
        margin: 0px;
        margin-left: 13vw !important;
        animation: slideInHeaderSideMenu 0.5s 0s ease-in-out forwards;

        .menuItem {
            //  background: pink !important;
            background: transparent;
            padding-right: 0p; //  margin:10pt;
            // background: green !important;
        }

        .menuImage {
            margin-top: 3.78vw;
            float: left; //  
            // background: #e74e86;
            width: 5vw !important;
            height: 5vw !important;
        }

        .pageName {
            margin-left: 12px !important;
            float: left;
            color: rgb(0, 0, 0);
            font-size: 16px; // text-align: left;
            margin-top: 3.78vw; // margin-top: 14pt;
            line-height: 16pt;
            font-family: 'Montserrat-Regular' !important; //font-family: 'Montserrat-Medium'; 
            // background: red;
        }
    }

    @keyframes slideInHeaderSideMenu {
        0% {
            opacity: 0; // transform: translateY(-100px) // transform: scale(0.7);
        }

        100% {
            opacity: 1; // transform: scale(20deg)
            // transform: translateY(0px) // transform: scale(1);
        }
    }
}

// Splash Style 
#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-image: linear-gradient(to right, #e74e86 0%, #ea3f49 100%);

    img {
        width: 100% !important;
        height: 100% !important;
    }
}

.flb {
    background-color: transparent;
    height: 100%;
    width: 100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 100%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
    margin-bottom: 30pt;
}

#custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    ////
}

//   3rd build
///////
// loading section
.bottomdiv {
    position: absolute !important;
    background: transparent;
    width: 100% !important;
    height: 50pt !important; // z-index: 999 !important;
    bottom: 0;
    margin-bottom: 140pt !important;
    z-index: 100000;
    text-align: center;

    ion-card {
        width: 100%;
        height: 20pt;
        background: transparent;
        box-shadow: none;

        div {
            width: 18px;
            height: 18px;
            background-color: white;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }
    }

    .lblloading {
        width: 100% !important; // height: 30pt;
        font-size: 5.29vw;
        color: rgba(0, 0, 0, 0.3);
        background: transparent;
        text-align: center;
        font-weight: bold;
        margin-left: 20pt;
        margin-top: 0 !important;
        bottom: 0;
    }
}

.bottomdiv .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    background: red;
}

.bottomdiv .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background: green;
}

.bottomdiv .bounce3 {
    // -webkit-animation-delay: -0.16s;
    // animation-delay: -0.16s;
    background: blue;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.font-for-header {
    font-family: 'Montserrat-Bold' !important;
}

.font-for-sub-header {
    font-family: 'Montserrat-SemiBold' !important;
}

.font-for-sub-header-content {
    // font-family: 'montserrat-light' !important;
    font-family: 'Montserrat-Regular';
}

ion-content {
    background: rgb(244, 247, 252) !important;
}

ion-row,
ion-col,
ion-item {
    padding: 0px !important;
    margin: 0px !important;
}

ion-label {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
}

.ionDefaultHeader {
    min-height: 24.1vw;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 2.64vw;
    background: $Beautyapp-gradient-color;

    .headerRow {
        height: calc(100% - 4pt);

        .backIcon {
            width: 35px;
            height: 15px;
            margin-top: 10vw !important;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
            // background: #ff6f15 !important;
        }

        .colHheaderLabel {
            .upperHeading {
                color: #ffffff;
                font-family: 'Montserrat-Bold' !important;
                font-size: 5vw;
                line-height: 5.2vw !important;
                width: 100%;
                margin-top: 4.5vw !important;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                // background: #ff6f15 !important;

            }
        }

        .colCartImage {
            background: transparent;
            width: 22px;
            margin-top: 31pt !important;

            img {
                height: 19pt;
                width: 22pt;
                margin-top: -3px;
                float: right;
            }
        }

        .menuIcon {
            width: 30px;
            height: 17px; // width: 25pt;
            margin-top: 10vw !important;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // 
            transition: 0.2s linear; // 
            // background: green;
        }
    }

    .searchProductRow {
        background: rgb(170, 33, 83);
        margin-top: 15px;
        margin-bottom: 15pt;
        margin-left: 12.5pt;
        margin-right: 12.5pt;
        width: calc(100% - 25pt);
        border-radius: 5px; // background: deepskyblue;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 8px;
        }

        ion-input {
            color: white !important;
            padding-left: 5px;
            font-size: 3.7vw;
            font-family: 'montserrat-light';
        }

        .text-input::-moz-placeholder {
            color: white;
            font-size: 3.7vw;
            padding-left: 5px;
            font-family: 'montserrat-light';
        }

        .text-input:-ms-input-placeholder {
            color: white;
            font-size: 3.7vw;
            padding-left: 5px;
            font-family: 'montserrat-light';
        }

        .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: white;
            font-size: 3.7vw;
            padding-left: 5px;
            font-family: 'montserrat-light';
        }
    }

    .HeaderCard {
        // background: red;
        width: 100% !important;
        height: 80pt;
        padding: none;
        margin-top: 10pt;
        margin-bottom: 10pt;
        background: transparent;
        box-shadow: none;

        .featuredImage {
            margin-left: 27px !important;
            padding: 20px;
            margin-top: 0pt;
            background: white;
            width: 102px;
            align-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        .upperHeading {
            color: white; // margin-top: -80px !important;
            margin-top: 25px !important;
            margin-left: 140px !important;
            font-size: 7.93vw;
            font-family: 'Montserrat-SemiBold' !important;
            text-align: center;
            margin-bottom: 6pt; // background: green;
        }

        .subHeading {
            color: white;
            margin-left: 140px !important;
            font-size: 13px;
            margin-top: -10px;
            font-family: 'Montserrat-Medium' !important;
            text-align: center; // background: blue !important;
        }
    }

    .lblSeparator12 {
        width: 100% !important;
        background: $MyDoc-Shadded-color !important;
        height: 4pt;
        position: absolute;
        bottom: 0 !important;
    }
}

.lbl-product-name {
    color: rgb(35, 31, 32);
    font-size: 3.96vw;
    font-family: 'Montserrat-Bold' !important;
    margin-top: 3px;
    width: 100%;
    text-transform: capitalize !important;
    margin-bottom: 6px !important; // background: red;
}

.lbl-product-price {
    background: white;
    font-size: 4.23vw;
    color: rgb(96, 96, 96);
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat-Regular' !important;
    ;
    text-align: left !important;
    margin-top: 0px !important;
}

.lbl-product-price-value {
    margin-top: 0pt;
    font-size: 4.23vw;
    text-align: left !important;
    letter-spacing: 0.3px;
    color: rgb(227, 63, 73);
    font-family: 'Montserrat-Regular' !important; // margin-top: 2px !important;
}

.button-md {
    text-transform: capitalize !important;
}

.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md {
    color: none;
}

.radio-ios .radio-checked {
    border-color: rgb(222, 32, 90) !important;
}

.radio-ios {
    border-color: $mostlyUsedColor !important;
}

.radio-ios .radio-icon {
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 4.23vw;
    height: 4.23vw;
    min-width: 16px;
    min-height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: $mostlyUsedColor;
}

.radio-ios .radio-checked .radio-inner {
    border-color: rgb(222, 32, 90) !important;
    background: rgb(222, 32, 90) !important;
}

.item-ios .radio-ios[item-left],
.item-ios .radio-ios[item-start] {
    margin: 8px 10px 8px 3px !important;
}

.radio-ios .radio-inner {
    border-radius: 50%;
    left: 10% !important;
    top: 8% !important;
    margin: 0 !important;
    position: relative !important;
    border-color: $mostlyUsedColor !important;
    width: 80% !important;
    height: 80% !important;
    background-color: transparent;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
}