<p ><span >Privacy and Confidentiality </span></p>
<p>&nbsp;</p>
<p><span >Welcome to the BeautyApp.pk website (the "Site") operated by SavvyTech E Services Pakistan Pvt Limited. We respect your privacy and want to protect your personal information. To learn more, please read this Privacy Policy.</span></p>
<p>&nbsp;</p>
<p ><span >This Privacy Policy explains how we collect, use and (under certain conditions) disclose your personal information. This Privacy Policy also explains the steps we have taken to secure your personal information. Finally, this Privacy Policy explains your options regarding the collection, use and disclosure of your personal information. By visiting the Site directly or through another site, you accept the practices described in this Policy.</span></p>
<p>&nbsp;</p>
<p ><span >Data protection is a matter of trust and your privacy is important to us. We shall therefore only use your name and other information which relates to you in the manner set out in this Privacy Policy. We will only collect information where it is necessary for us to do so and we will only collect information if it is relevant to our dealings with you.</span></p>
<p>&nbsp;</p>
<p ><span >We will only keep your information for as long as we are either required to by law or as is relevant for the purposes for which it was collected.</span></p>
<p>&nbsp;</p>
<p ><span >You can visit the Site and browse without having to provide personal details. During your visit to the Site you remain anonymous and at no time can we identify you unless you have an account on the Site and log on with your user name and password.</span></p>
<p>&nbsp;</p>
<ol>
<li ><span > Data that we collect </span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We may collect various pieces of information if you seek to place an order for a product with us on the Site.</span></p>
<p>&nbsp;</p>
<p ><span >We collect, store and process your data for processing your purchase on the Site and any possible later claims, and to provide you with our services. We may collect personal information including, but not limited to, your title, name, gender, date of birth, email address, postal address, delivery address (if different), telephone number, mobile number, fax number, payment details, payment card details or bank account details.</span></p>
<p>&nbsp;</p>
<p ><span >We will use the information you provide to enable us to process your orders and to provide you with the services and information offered through our website and which you request. Further, we will use the information you provide to administer your account with us; verify and carry out financial transactions in relation to payments you make; audit the downloading of data from our website; improve the layout and/or content of the pages of our website and customize them for users; identify visitors on our website; carry out research on our users' demographics; send you information we think you may find useful or which you have requested from us, including information about our products and services, provided you have indicated that you have not objected to being contacted for these purposes. Subject to obtaining your consent we may contact you by email with details of other products and services. If you prefer not to receive any marketing communications from us, you can opt out at any time.</span></p>
<p>&nbsp;</p>
<p ><span >We may pass your name and address on to a third party in order to make delivery of the product to you (for example to our courier or supplier). You must only submit to us the Site information which is accurate and not misleading and you must keep it up to date and inform us of changes.</span></p>
<p>&nbsp;</p>
<p ><span >Your actual order details may be stored with us but for security reasons cannot be retrieved directly by us. However, you may access this information by logging into your account on the Site. Here you can view the details of your orders that have been completed, those which are open and those which are shortly to be dispatched and administer your address details, bank details ( for refund purposes) and any newsletter to which you may have subscribed. You undertake to treat the personal access data confidentially and not make it available to unauthorized third parties. We cannot assume any liability for misuse of passwords unless this misuse is our fault. </span></p>
<p>&nbsp;</p>
<p ><span >Other uses of your Personal Information </span></p>
<p>&nbsp;</p>
<p ><span >We may use your personal information for opinion and market research. Your details are anonymous and will only be used for statistical purposes. You can choose to opt out of this at any time. Any answers to surveys or opinion polls we may ask you to complete will not be forwarded on to third parties. Disclosing your email address is only necessary if you would like to take part in competitions. We save the answers to our surveys separately from your email address.</span></p>
<p>&nbsp;</p>
<p ><span >We may also send you other information about us, the Site, our other websites, our products, sales promotions, our newsletters, anything relating to other companies in our group or our business partners. If you would prefer not to receive any of this additional information as detailed in this paragraph (or any part of it) please click the 'unsubscribe' link in any email that we send to you. Within 7 working days (days which are neither (i) a Sunday, nor (ii) a public holiday anywhere in Pakistan) of receipt of your instruction we will cease to send you information as requested. If your instruction is unclear we will contact you for clarification.</span></p>
<p>&nbsp;</p>
<p ><span >We may further anonymize data about users of the Site generally and use it for various purposes, including ascertaining the general location of the users and usage of certain aspects of the Site or a link contained in an email to those registered to receive them, and supplying that anonymized data to third parties such as publishers. However, that anonymized data will not be capable of identifying you personally. </span></p>
<p>&nbsp;</p>
<p ><span >Competitions </span></p>
<p>&nbsp;</p>
<p ><span >For any competition we use the data to notify winners and advertise our offers. You can find more details where applicable in our participation terms for the respective competition.</span></p>
<p>&nbsp;</p>
<p ><span >Third Parties and Links </span></p>
<p>&nbsp;</p>
<p ><span >We may pass your details to other companies in our group. We may also pass your details to our agents and subcontractors to help us with any of our uses of your data set out in our Privacy Policy. For example, we may use third parties to assist us with delivering products to you, to help us to collect payments from you, to analyze data and to provide us with marketing or customer service assistance.</span></p>
<p ><span >We may exchange information with third parties for the purposes of fraud protection and credit risk reduction. We may transfer our databases containing your personal information if we sell our business or part of it. Other than as set out in this Privacy Policy, we shall NOT sell or disclose your personal data to third parties without obtaining your prior consent unless this is necessary for the purposes set out in this Privacy Policy or unless we are required to do so by law. The Site may contain advertising of third parties and links to other sites or frames of other sites. Please be aware that we are not responsible for the privacy practices or content of those third parties or other sites, nor for any third party to whom we transfer your data in accordance with our Privacy Policy.</span></p>
<p>&nbsp;</p>
<ol start="2">
<li ><span > Cookies</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >The acceptance of cookies is not a requirement for visiting the Site. However we would like to point out that the use of the 'basket' functionality on the Site and ordering is only possible with the activation of cookies. Cookies are tiny text files which identify your computer to our server as a unique user when you visit certain pages on the Site and they are stored by your Internet browser on your computer's hard drive. Cookies can be used to recognize your Internet Protocol address, saving you time while you are on, or want to enter, the Site. We only use cookies for your convenience in using the Site (for example to remember who you are when you want to amend your shopping cart without having to re-enter your email address) and not for obtaining or using any other information about you (for example targeted advertising). Your browser can be set to not accept cookies, but this would restrict your use of the Site. Please accept our assurance that our use of cookies does not contain any personal or private details and are free from viruses. If you want to find out more information about cookies, go to https://www.allaboutcookies.org or to find out about removing them from your browser, go to https://www.allaboutcookies.org/manage-cookies/index.html.</span></p>
<p>&nbsp;</p>
<p ><span >This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses cookies, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.</span></p>
<p>&nbsp;</p>
<ol start="3">
<li ><span > Security</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We have in place appropriate technical and security measures to prevent unauthorized or unlawful access to or accidental loss of or destruction or damage to your information. When we collect data through the Site, we collect your personal details on a secure server. We use firewalls on our servers. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you. You are responsible for protecting against unauthorized access to your password and to your computer. </span></p>
<p>&nbsp;</p>
<ol start="4">
<li ><span > Your rights</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >If you are concerned about your data you have the right to request access to the personal data which we may hold or process about you. You have the right to require us to correct any inaccuracies in your data free of charge. At any stage you also have the right to ask us to stop using your personal data for direct marketing purposes.</span></p>
<p><br /><br /><br /></p>
<p ><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Terms and Conditions</span></p>
<p>&nbsp;</p>
<ol>
<li ><span > INTRODUCTION</span></li>
</ol>
<p><br /><br /></p>
<p ><span >Welcome to BeautyApp.pk also hereby known as &ldquo;we", "us" or "BeautyApp". We are an online marketplace and these are the terms and conditions governing your access and use of BeautyApp along with its related sub-domains, sites, mobile app, services and tools (the "Site"). By using the Site, you hereby accept these terms and conditions (including the linked information herein) and represent that you agree to comply with these terms and conditions (the "User Agreement"). This User Agreement is deemed effective upon your use of the Site which signifies your acceptance of these terms. If you do not agree to be bound by this User Agreement please do not access, register with or use this Site. This Site is owned and operated by SavvyTech E Services Pakistan Pvt Limited.</span></p>
<p>&nbsp;</p>
<p ><span >The Site reserves the right to change, modify, add, or remove portions of these Terms and Conditions at any time without any prior notification. Changes will be effective when posted on the Site with no other notice provided. Please check these Terms and Conditions regularly for updates. Your continued use of the Site following the posting of changes to Terms and Conditions of use constitutes your acceptance of those changes.</span></p>
<p>&nbsp;</p>
<p ><span > </span></p>
<p>&nbsp;</p>
<ol start="2">
<li ><span > CONDITIONS OF USE</span></li>
</ol>
<p>&nbsp;</p>
<ol>
<li ><span > YOUR ACCOUNT</span></li>
</ol>
<p><br /><br /></p>
<p ><span >To access certain services offered by the platform, we may require that you create an account with us or provide personal information to complete the creation of an account. We may at any time in our sole and absolute discretion, invalidate the username and/or password without giving any reason or prior notice and shall not be liable or responsible for any losses suffered by, caused by, arising out of, in connection with or by reason of such request or invalidation.</span></p>
<p>&nbsp;</p>
<p ><span >You are responsible for maintaining the confidentiality of your user identification, password, account details and related private information. You agree to accept this responsibility and ensure your account and its related details are maintained securely at all times and all necessary steps are taken to prevent misuse of your account. You should inform us immediately if you have any reason to believe that your password has become known to anyone else, or if the password is being, or is likely to be, used in an unauthorized manner. You agree and acknowledge that any use of the Site and related services offered and/or any access to private information, data or communications using your account and password shall be deemed to be either performed by you or authorized by you as the case may be. You agree to be bound by any access of the Site and/or use of any services offered by the Site (whether such access or use are authorized by you or not). You agree that we shall be entitled (but not obliged) to act upon, rely on or hold you solely responsible and liable in respect thereof as if the same were carried out or transmitted by you. You further agree and acknowledge that you shall be bound by and agree to fully indemnify us against any and all losses arising from the use of or access to the Site through your account.</span></p>
<p>&nbsp;</p>
<p ><span >Please ensure that the details you provide us with are correct and complete at all times. You are obligated to update details about your account in real time by accessing your account online. For pieces of information you are not able to update by accessing Your Account on the Site, you must inform us via our customer service communication channels to assist you with these changes. We reserve the right to refuse access to the Site, terminate accounts, remove or edit content at any time without prior notice to you. We may at any time in our sole and absolute discretion, request that you update your Personal Data or forthwith invalidate the account or related details without giving any reason or prior notice and shall not be liable or responsible for any losses suffered by or caused by you or arising out of or in connection with or by reason of such request or invalidation. You hereby agree to change your password from time to time and to keep your account secure and also shall be responsible for the confidentiality of your account and liable for any disclosure or use (whether such use is authorised or not) of the username and/or password.</span></p>
<p>&nbsp;</p>
<p ><span > </span></p>
<p>&nbsp;</p>
<ol>
<li ><span > PRIVACY</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Please review our Privacy Agreement, which also governs your visit to the Site. The personal information / data provided to us by you or your use of the Site will be treated as strictly confidential, in accordance with the Privacy Agreement and applicable laws and regulations. If you object to your information being transferred or used in the manner specified in the Privacy Agreement, please do not use the Site.</span></p>
<p>&nbsp;</p>
<p ><span > </span></p>
<p>&nbsp;</p>
<ol>
<li ><span > PLATFORM FOR COMMUNICATION</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >You agree, understand and acknowledge that the Site is an online platform that enables you to purchase products listed at the price indicated therein at any time from any location using a payment method of your choice. You further agree and acknowledge that we are only a facilitator and cannot be a party to or control in any manner any transactions on the Site or on a payment gateway as made available to you by an independent service provider. Accordingly, the contract of sale of products on the Site shall be a strictly bipartite contract between you and the sellers on our Site while the payment processing occurs between you, the service provider and in case of prepayments with electronic cards your issuer bank. Accordingly, the contract of payment on the Site shall be strictly a bipartite contract between you and the service provider as listed on our Site.</span></p>
<p>&nbsp;</p>
<p ><span > </span></p>
<p>&nbsp;</p>
<ol>
<li ><span > CONTINUED AVAILABILITY OF THE SITE</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We will do our utmost to ensure that access to the Site is consistently available and is uninterrupted and error-free. However, due to the nature of the Internet and the nature of the Site, this cannot be guaranteed. Additionally, your access to the Site may also be occasionally suspended or restricted to allow for repairs, maintenance, or the introduction of new facilities or services at any time without prior notice. We will attempt to limit the frequency and duration of any such suspension or restriction.</span></p>
<p>&nbsp;</p>
<p ><span > </span></p>
<p>&nbsp;</p>
<ol>
<li ><span > LICENSE TO ACCESS THE SITE</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We require that by accessing the Site, you confirm that you can form legally binding contracts and therefore you confirm that you are at least 18 years of age or are accessing the Site under the supervision of a parent or legal guardian. We grant you a non-transferable, revocable and non-exclusive license to use the Site, in accordance with the Terms and Conditions described herein, for the purposes of shopping for personal items and services as listed to be sold on the Site. Commercial use or use on behalf of any third party is prohibited, except as explicitly permitted by us in advance. If you are registering as a business entity, you represent that you have the authority to bind that entity to this User Agreement and that you and the business entity will comply with all applicable laws relating to online trading. No person or business entity may register as a member of the Site more than once. Any breach of these Terms and Conditions shall result in the immediate revocation of the license granted in this paragraph without notice to you.</span></p>
<p>&nbsp;</p>
<p ><span >Content provided on this Site is solely for informational purposes. Product representations including price, available stock, features, add-ons and any other details as expressed on this Site are the responsibility of the vendors displaying them and is not guaranteed as completely accurate by us. Submissions or opinions expressed on this Site are those of the individual(s) posting such content and may not reflect our opinions. </span></p>
<p>&nbsp;</p>
<p ><span >We grant you a limited license to access and make personal use of this Site, but not to download (excluding page caches) or modify the Site or any portion of it in any manner. This license does not include any resale or commercial use of this Site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this Site or its contents; any downloading or copying of account information for the benefit of another seller; or any use of data mining, robots, or similar data gathering and extraction tools.</span></p>
<p>&nbsp;</p>
<p ><span >This Site or any portion of it (including but not limited to any copyrighted material, trademarks, or other proprietary information) may not be reproduced, duplicated, copied, sold, resold, visited, distributed or otherwise exploited for any commercial purpose without express written consent by us as may be applicable.</span></p>
<p>&nbsp;</p>
<p ><span >You may not frame or use framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) without our express written consent. You may not use any meta tags or any other text utilizing our name or trademark without our express written consent, as applicable. Any unauthorized use terminates the permission or license granted by us to you for access to the Site with no prior notice. You may not use our logo or other proprietary graphic or trademark as part of an external link for commercial or other purposes without our express written consent, as may be applicable.</span></p>
<p>&nbsp;</p>
<p ><span >You agree and undertake not to perform restricted activities listed within this section; undertaking these activities will result in an immediate cancellation of your account, services, reviews, orders or any existing incomplete transaction with us and in severe cases may also result in legal action</span></p>
<p>&nbsp;</p>
<ul style="margin-top: 0pt; margin-bottom: 0pt;">
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Refusal to comply with the Terms and Conditions described herein or any other guidelines and policies related to the use of the Site as available on the Site at all times.</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Impersonate any person or entity or to falsely state or otherwise misrepresent your affiliation with any person or entity.</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Use the Site for illegal purposes.</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Attempt to gain unauthorized access to or otherwise interfere or disrupt other computer systems or networks connected to the Platform or Services.</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Interfere with another&rsquo;s utilization and enjoyment of the Site;</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Post, promote or transmit through the Site any prohibited materials as deemed illegal by The People's Republic of Pakistan.</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Use or upload, in any way, any software or material that contains, or which you have reason to suspect that contains, viruses, damaging components, malicious code or harmful components which may impair or corrupt the Site&rsquo;s data or damage or interfere with the operation of another Customer&rsquo;s computer or mobile device or the Site and use the Site other than in conformance with the acceptable use policies of any connected computer networks, any applicable Internet standards and any other applicable laws.</span></li>
</ul>
<p ><span > </span></p>
<p>&nbsp;</p>
<ol>
<li ><span > YOUR CONDUCT</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >You must not use the website in any way that causes, or is likely to cause, the Site or access to it to be interrupted, damaged or impaired in any way. You must not engage in activities that could harm or potentially harm the Site, its employees, officers, representatives, stakeholders or any other party directly or indirectly associated with the Site or access to it to be interrupted, damaged or impaired in any way. You understand that you, and not us, are responsible for all electronic communications and content sent from your computer to us and you must use the Site for lawful purposes only. You are strictly prohibited from using the Site</span></p>
<p>&nbsp;</p>
<ul style="margin-top: 0pt; margin-bottom: 0pt;">
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >For fraudulent purposes, or in connection with a criminal offense or other unlawful activity</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >to send, use or reuse any material that does not belong to you; or is illegal, offensive (including but not limited to material that is sexually explicit content or which promotes racism, bigotry, hatred or physical harm), deceptive, misleading, abusive, indecent, harassing, blasphemous, defamatory, libellous, obscene, pornographic, paedophilic or menacing; ethnically objectionable, disparaging or in breach of copyright, trademark, confidentiality, privacy or any other proprietary information or right; or is otherwise injurious to third parties; or relates to or promotes money laundering or gambling; or is harmful to minors in any way; or impersonates another person; or threatens the unity, integrity, security or sovereignty of Pakistan or friendly relations with foreign States; or objectionable or otherwise unlawful in any manner whatsoever; or which consists of or contains software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or any "spam&rdquo;.</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Use the Site for illegal purposes.</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >To cause annoyance, inconvenience or needless anxiety</span></li>
<li style="list-style-type: disc; font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span >Tor any other purposes that is other than what is intended by us</span></li>
</ul>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > YOUR SUBMISSION</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Anything that you submit to the Site and/or provide to us, including but not limited to, questions, reviews, comments, and suggestions (collectively, "Submissions") will become our sole and exclusive property and shall not be returned to you. In addition to the rights applicable to any Submission, when you post comments or reviews to the Site, you also grant us the right to use the name that you submit, in connection with such review, comment, or other content. You shall not use a false e-mail address, pretend to be someone other than yourself or otherwise mislead us or third parties as to the origin of any Submissions. We may, but shall not be obligated to, remove or edit any Submissions without any notice or legal course applicable to us in this regard.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > CLAIMS AGAINST OBJECTIONABLE CONTENT</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We list thousands of products for sale offered by numerous sellers on the Site and host multiple comments on listings, it is not possible for us to be aware of the contents of each product listed for sale, or each comment or review that is displayed. Accordingly, we operate on a "claim, review and takedown" basis. If you believe that any content on the Site is illegal, offensive (including but not limited to material that is sexually explicit content or which promotes racism, bigotry, hatred or physical harm), deceptive, misleading, abusive, indecent, harassing, blasphemous, defamatory, libellous, obscene, pornographic, paedophilic or menacing; ethnically objectionable, disparaging; or is otherwise injurious to third parties; or relates to or promotes money laundering or gambling; or is harmful to minors in any way; or impersonates another person; or threatens the unity, integrity, security or sovereignty of Pakistan or friendly relations with foreign States; or objectionable or otherwise unlawful in any manner whatsoever; or which consists of or contains software viruses, (" objectionable content "), please notify us immediately by following by writing to us on legal@BeautyApp.pk We will make all practical endeavours to investigate and remove valid objectionable content complained about within a reasonable amount of time.</span></p>
<p>&nbsp;</p>
<p ><span >Please ensure to provide your name, address, contact information and as many relevant details of the claim including name of objectionable content party, instances of objection, proof of objection amongst other. Please note that providing incomplete details will render your claim invalid and unusable for legal purposes.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > CLAIMS AGAINST INFRINGING CONTENT</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We respect the intellectual property of others. If you believe that your intellectual property rights have been used in a way that gives rise to concerns of infringement, please write to us at legal@dBeautyApp.pk and we will make all reasonable efforts to address your concern within a reasonable amount of time. Please ensure to provide your name, address, contact information and as many relevant details of the claim including name of infringing party, instances of infringement, proof of infringement amongst other. Please note that providing incomplete details will render your claim invalid and unusable for legal purposes. In addition, providing false or misleading information may be considered a legal offense and may be followed by legal proceedings.</span></p>
<p>&nbsp;</p>
<p ><span >We also respect a manufacturer's right to enter into exclusive distribution or resale agreements for its products. However, violations of such agreements do not constitute intellectual property rights infringement. As the enforcement of these agreements is a matter between the manufacturer, distributor and/or respective reseller, it would not be appropriate for us to assist in the enforcement of such activities. While we cannot provide legal advice, nor share private information as protected by the law, we recommend that any questions or concerns regarding your rights may be routed to a legal specialist.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > TRADEMARKS AND COPYRIGHTS</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >BeautyApp.pk, BeautyApp logo, and other marks indicated on our Site are trademarks or registered trademarks in the relevant jurisdiction(s). Our graphics, logos, page headers, button icons, scripts and service names are the trademarks or trade dress and may not be used in connection with any product or service that does not belong to us or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits us. All other trademarks that appear on this Site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by us.</span></p>
<p>&nbsp;</p>
<p ><span >All intellectual property rights, whether registered or unregistered, in the Site, information content on the Site and all the website design, including, but not limited to text, graphics, software, photos, video, music, sound, and their selection and arrangement, and all software compilations, underlying source code and software shall remain our property. The entire contents of the Site also are protected by copyright as a collective work under Pakistani copyright laws and international conventions. All rights are reserved.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > DISCLAIMER</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >You acknowledge and undertake that you are accessing the services on the Site and transacting at your own risk and are using your best and prudent judgment before entering into any transactions through the Site. We shall neither be liable nor responsible for any actions or inactions of sellers nor any breach of conditions, representations or warranties by the sellers or manufacturers of the products and hereby expressly disclaim and any all responsibility and liability in that regard. We shall not mediate or resolve any dispute or disagreement between you and the sellers or manufacturers of the products.</span></p>
<p>&nbsp;</p>
<p ><span >We further expressly disclaim any warranties or representations (express or implied) in respect of quality, suitability, accuracy, reliability, completeness, timeliness, performance, safety, merchantability, fitness for a particular purpose, or legality of the products listed or displayed or transacted or the content (including product or pricing information and/or specifications) on the Site. While we have taken precautions to avoid inaccuracies in content, this Site, all content, information (including the price of products), software, products, services and related graphics are provided as is, without warranty of any kind. We do not implicitly or explicitly support or endorse the sale or purchase of any products on the Site. At no time shall any right, title or interest in the products sold through or displayed on the Site vest with us nor shall BeautyApp have any obligations or liabilities in respect of any transactions on the Site. </span></p>
<p>&nbsp;</p>
<p ><span >We shall neither be liable or responsible for any actions or inactions of any other service provider as listed on our Site which includes but is not limited to payment providers, instalment offerings, warranty services amongst others.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > INDEMNITY</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >You shall indemnify and hold harmless BeautyApp, its subsidiaries, affiliates and their respective officers, directors, agents and employees, from any claim or demand, or actions including reasonable attorney's fees, made by any third party or penalty imposed due to or arising out of your breach of these Terms and Conditions or any document incorporated by reference, or your violation of any law, rules, regulations or the rights of a third party.</span></p>
<p>&nbsp;</p>
<p ><span >You hereby expressly release BeautyApp and/or its affiliates and/or any of its officers and representatives from any cost, damage, liability or other consequence of any of the actions/inactions of the sellers or other service providers and specifically waiver any claims or demands that you may have in this behalf under any statute, contract or otherwise.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > THIRD PARTY BUSINESSES</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Parties other than BeautyApp and its affiliates may operate stores, provide services, or sell product lines on the Site. For example, businesses and individuals offer products via Marketplace. In addition, we provide links to the websites of affiliated companies and certain other businesses. We are not responsible for examining or evaluating, and we do not warrant or endorse the offerings of any of these businesses or individuals, or the content of their websites. We do not assume any responsibility or liability for the actions, products, and content of any of these and any other third-parties. You can tell when a third-party is involved in your transactions by reviewing your transaction carefully, and we may share customer information related to those transactions with that third-party. You should carefully review their privacy statements and related terms and conditions.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > COMMUNICATING WITH US</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >When you visit the Site, or send e-mails to us, you are communicating with us electronically. You will be required to provide a valid phone number while placing an order with us. We may communicate with you by e-mail, SMS, phone call or by posting notices on the Site or by any other mode of communication we choose to employ. For contractual purposes, you consent to receive communications (including transactional, promotional and/or commercial messages), from us with respect to your use of the website (and/or placement of your order) and agree to treat all modes of communication with the same importance.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > LOSSES</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We will not be responsible for any business or personal losses (including but not limited to loss of profits, revenue, contracts, anticipated savings, data, goodwill, or wasted expenditure) or any other indirect or consequential loss that is not reasonably foreseeable to both you and us when you commenced using the Site.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > AMENDMENTS TO CONDITIONS OR ALTERATIONS OF SERVICE AND RELATED PROMISE</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We reserve the right to make changes to the Site, its policies, these terms and conditions and any other publicly displayed condition or service promise at any time. You will be subject to the policies and terms and conditions in force at the time you used the Site unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by you). If any of these conditions is deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of any remaining condition.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > EVENTS BEYOND OUR CONTROL</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We will not be held responsible for any delay or failure to comply with our obligations under these conditions if the delay or failure arises from any cause which is beyond our reasonable control. This condition does not affect your statutory rights.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > WAIVER</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >You acknowledge and recognize that we are a private commercial enterprise and reserve the right to conduct business to achieve our objectives in a manner we deem fit. You also acknowledge that if you breach the conditions stated on our Site and we take no action, we are still entitled to use our rights and remedies in any other situation where you breach these conditions.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > TERMINATION</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >In addition to any other legal or equitable remedies, we may, without prior notice to you, immediately terminate the Terms and Conditions or revoke any or all of your rights granted under the Terms and Conditions. Upon any termination of this Agreement, you shall immediately cease all access to and use of the Site and we shall, in addition to any other legal or equitable remedies, immediately revoke all password(s) and account identification issued to you and deny your access to and use of this Site in whole or in part. Any termination of this agreement shall not affect the respective rights and obligations (including without limitation, payment obligations) of the parties arising before the date of termination. You furthermore agree that the Site shall not be liable to you or to any other person as a result of any such suspension or termination. If you are dissatisfied with the Site or with any terms, conditions, rules, policies, guidelines, or practices in operating the Site, your sole and exclusive remedy is to discontinue using the Site.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > GOVERNING LAW AND JURISDICTION</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >These terms and conditions are governed by and construed in accordance with the laws of The People's Republic of Pakistan. You agree, as we do, to submit to the exclusive jurisdiction of the courts in Dhaka</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > CONTACT US</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >You may reach us here</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > OUR SOFTWARE</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Our software includes any software (including any updates or upgrades to the software and any related documentation) that we make available to you from time to time for your use in connection with the Site (the "Software").</span></p>
<p>&nbsp;</p>
<p ><span >You may use the software solely for purposes of enabling you to use and enjoy our services as permitted by the Terms and Conditions and any related applicable terms as available on the Site. You may not incorporate any portion of the Software into your own programs or compile any portion of it in combination with your own programs, transfer it for use with another service, or sell, rent, lease, lend, loan, distribute or sub-license the Software or otherwise assign any rights to the Software in whole or in part. You may not use the Software for any illegal purpose. We may cease providing you service and we may terminate your right to use the Software at any time. Your rights to use the Software will automatically terminate without notice from us if you fail to comply with any of the Terms and Conditions listed here or across the Site. Additional third party terms contained within the Site or distributed as such that are specifically identified in related documentation may apply and will govern the use of such software in the event of a conflict with these Terms and Conditions. All software used in any of our services is our property and/or our affiliates or its software suppliers and protected by the laws of Pakistan including but not limited to any other applicable copyright laws.</span></p>
<p>&nbsp;</p>
<p ><span >When you use the Site, you may also be using the services of one or more third parties, such as a wireless carrier or a mobile platform provider. Your use of these third party services may be subject to separate policies, terms of use, and fees of these third parties.</span></p>
<p>&nbsp;</p>
<p ><span >You may not, and you will not encourage, assist or authorize any other person to copy, modify, reverse engineer, decompile or disassemble, or otherwise tamper with our software whether in whole or in part, or create any derivative works from or of the Software.</span></p>
<p>&nbsp;</p>
<p ><span >In order to keep the Software up-to-date, we may offer automatic or manual updates at any time and without notice to you.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol start="3">
<li ><span > CONDITIONS OF SALE (BETWEEN SELLERS AND CUSTOMERS)</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Please read these conditions carefully before placing an order for any products with the Sellers (&ldquo;We&rdquo; or &ldquo;Our&rdquo; or &ldquo;Us&rdquo;, wherever applicable) on the Site. These conditions signify your agreement to be bound by these conditions.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > CONDITIONS RELATED TO SALE OF THE PRODUCT OR SERVICE</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >This section deals with conditions relating to the sale of products or services on the Site.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > THE CONTRACT</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Your order is a legal offer to the seller to buy the product or service displayed on our Site. When you place an order to purchase a product, any confirmations or status updates received prior to the dispatch of your order serves purely to validate the order details provided and in no way implies the confirmation of the order itself. The acceptance of your order is considered confirmed when the product is dispatched to you. If your order is dispatched in more than one package, you may receive separate dispatch confirmations. Upon time of placing the order, we indicate an approximate timeline that the processing of your order will take however we cannot guarantee this timeline to be rigorously precise in every instance as we are dependent on third party service providers to preserve this commitment. We commit to you to make every reasonable effort to ensure that the indicative timeline is met. All commercial/contractual terms are offered by and agreed to between you and the sellers alone. The commercial/contractual terms include without limitation price, shipping costs, payment methods, payment terms, date, period and mode of delivery, warranties related to products and services and after sales services related to products and services. BeautyApp does not have any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the you and the Sellers. The seller retains the right to cancel any order at its sole discretion prior to dispatch. We will ensure that there is timely intimation to you of such cancellation via an email or sms. Any prepayments made in case of such cancellation(s), shall be refunded to you within the time frames stipulated here.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > THE CONTRACT</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Your order is a legal offer to the seller to buy the product or service displayed on our Site. When you place an order to purchase a product, any confirmations or status updates received prior to the dispatch of your order serves purely to validate the order details provided and in no way implies the confirmation of the order itself. The acceptance of your order is considered confirmed when the product is dispatched to you. If your order is dispatched in more than one package, you may receive separate dispatch confirmations. Upon time of placing the order, we indicate an approximate timeline that the processing of your order will take however we cannot guarantee this timeline to be rigorously precise in every instance as we are dependent on third party service providers to preserve this commitment. We commit to you to make every reasonable effort to ensure that the indicative timeline is met. All commercial/contractual terms are offered by and agreed to between you and the sellers alone. The commercial/contractual terms include without limitation price, shipping costs, payment methods, payment terms, date, period and mode of delivery, warranties related to products and services and after sales services related to products and services. BeautyApp does not have any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the you and the Sellers. The seller retains the right to cancel any order at its sole discretion prior to dispatch. We will ensure that there is timely intimation to you of such cancellation via an email or sms. Any prepayments made in case of such cancellation(s), shall be refunded to you within the time frames stipulated here.</span></p>
<p>&nbsp;</p>
<p ><span >You confirm that the product(s) or service(s) ordered by you are purchased for your internal / personal consumption and not for commercial re-sale. You authorize us to declare and provide declaration to any governmental authority on your behalf stating the aforesaid purpose for your orders on the Site. The Seller or the Site may cancel an order wherein the quantities exceed the typical individual consumption. This applies both to the number of products ordered within a single order and the placing of several orders for the same product where the individual orders comprise a quantity that exceeds the typical individual consumption. What comprises a typical individual's consumption quantity limit shall be based on various factors and at the sole discretion of the Seller or ours and may vary from individual to individual.</span></p>
<p>&nbsp;</p>
<p ><span >You may cancel your order at no cost any time before the item is dispatched to you.</span></p>
<p>&nbsp;</p>
<p ><span >Please note that we sell products only in quantities which correspond to the typical needs of an average household. This applies both to the number of products ordered within a single order and the placing of several orders for the same product where the individual orders comprise a quantity typical for a normal household.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > RETURNS</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Please review our Returns Policy for details.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > PRICING, AVAILABILITY AND ORDER PROCESSING</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >All prices are listed in Rupees and are inclusive of GST and are listed on the Site by the seller that is selling the product or service. Items in your Shopping Cart will always reflect the most recent price displayed on the item's product detail page. Please note that this price may differ from the price shown for the item when you first placed it in your cart. Placing an item in your cart does not reserve the price shown at that time. It is also possible that an item's price may decrease between the time you place it in your basket and the time you purchase it.</span></p>
<p>&nbsp;</p>
<p ><span >We do not offer price matching for any items sold by any seller on our Site or other websites.</span></p>
<p>&nbsp;</p>
<p ><span >We are determined to provide the most accurate pricing information on the Site to our users; however, errors may still occur, such as cases when the price of an item is not displayed correctly on the Site. As such, we reserve the right to refuse or cancel any order. In the event that an item is mispriced, we may, at our own discretion, either contact you for instructions or cancel your order and notify you of such cancellation. We shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your prepayment processed. If such a cancellation occurs on your prepaid order, our policies for refund will apply. </span></p>
<p>&nbsp;</p>
<p ><span >We list availability information for products listed on the Site, including on each product information page. Beyond what we say on that page or otherwise on the Site, we cannot be more specific about availability. Please note that dispatch estimates are just that. They are not guaranteed dispatch times and should not be relied upon as such. As we process your order, you will be informed by e-mail or sms if any products you order turn out to be unavailable.</span></p>
<p>&nbsp;</p>
<p ><span >Please note that there are cases when an order cannot be processed for various reasons. The Site reserves the right to refuse or cancel any order for any reason at any given time. You may be asked to provide additional verifications or information, including but not limited to phone number and address, before we accept the order.</span></p>
<p>&nbsp;</p>
<p ><span >In order to avoid any fraud with credit or debit cards, we reserve the right to obtain validation of your payment details before providing you with the product and to verify the personal information you shared with us. This verification can take the shape of an identity, place of residence, or banking information check. The absence of an answer following such an inquiry will automatically cause the cancellation of the order within a reasonable timeline. We reserve the right to proceed to direct cancellation of an order for which we suspect a risk of fraudulent use of banking instruments or other reasons without prior notice or any subsequent legal liability. </span></p>
<p>&nbsp;</p>
<p ><span >Refund Voucher </span></p>
<p ><span >Refund voucher can be redeemed on our Website, as full or part payment of products from our Website within the given timeline.</span></p>
<p ><span >Refund voucher cannot be used from different account.</span></p>
<p ><span >Vouchers are not replaceable if expired.</span></p>
<p ><span >Promotional Vouchers</span></p>
<p ><span >Promotional vouchers cannot be used on the following products:</span></p>
<p ><span >Baby Nutrition</span></p>
<p ><span >Xiaomi Smartphones</span></p>
<p ><span >Diapers</span></p>
<p ><span >Groceries</span></p>
<p ><span >Each issued promotional voucher (App voucher and New customer voucher) will be valid for use by a customer only once. Multiple usages changing the identity is illegal.</span></p>
<p ><span >Promotional voucher is non-refundable and cannot be exchanged for cash in part or full and is valid for a single transaction only.</span></p>
<p ><span >Promotional voucher may not be valid during sale or in conjunction with any special promotion.</span></p>
<p ><span >Voucher will work only if minimum purchase amount and other conditions are met.</span></p>
<p ><span >BeautyApp reserves the right to vary or terminate the operation of any voucher at any time without notice.</span></p>
<p ><span >BeautyApp shall not be liable to any customer or household for any financial loss arising out of the refusal, cancellation or withdrawal of any voucher or any failure or inability of a customer to use a voucher for any reason.</span></p>
<p ><span >Vouchers are not replaceable if expired.</span></p>
<p ><span >Security and Fraud</span></p>
<p ><span >When you use a voucher, you warrant to BeautyApp that you are the duly authorized recipient of the voucher and that you are using it in good faith.</span></p>
<p ><span >If you redeem, attempt to redeem or encourage the redemption of voucher to obtain discounts to which you are not entitled you may be committing a civil or criminal offence</span></p>
<p ><span >If we reasonably believe that any voucher is being used unlawfully or illegally we may reject or cancel any voucher/order and you agree that you will have no claim against us in respect of any rejection or cancellation. BeautyApp reserves the right to take any further action it deems appropriate in such instances</span></p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > RESELLING BeautyApp PRODUCTS</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >Reselling BeautyApp products for business purpose is strictly prohibited. If any unauthorized personnel is found committing the above act, legal action may be taken against him/her.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > TAXES</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >You shall be responsible for payment of all fees/costs/charges associated with the purchase of products from the Site and you agree to bear any and all applicable taxes as per prevailing law.</span></p>
<p>&nbsp;</p>
<p ><span ></span></p>
<p>&nbsp;</p>
<ol>
<li ><span > REPRESENTATIONS AND WARRANTIES</span></li>
</ol>
<p>&nbsp;</p>
<p ><span >We do not make any representation or warranty as to specifics (such as quality, value, saleability, etc) of the products or services listed to be sold on the Site when products or services are sold by third parties. We do not implicitly or explicitly support or endorse the sale or purchase of any products or services on the Site. We accept no liability for any errors or omissions, whether on behalf of itself or third parties. </span></p>
<p>&nbsp;</p>
<p ><span >We are not responsible for any non-performance or breach of any contract entered into between you and the sellers. We cannot and do not guarantee your actions or those of the sellers as they conclude transactions on the Site. We are not required to mediate or resolve any dispute or disagreement arising from transactions occurring on our Site.</span></p>
<p>&nbsp;</p>
<p ><span >We do not at any point of time during any transaction as entered into by you with a third party on our Site, gain title to or have any rights or claims over the products or services offered by a seller. Therefore, we do not have any obligations or liabilities in respect of such contract(s) entered into between you and the seller(s). We are not responsible for unsatisfactory or delayed performance of services or damages or delays as a result of products which are out of stock, unavailable or back ordered.</span></p>
<p>&nbsp;</p>
<p ><span >Pricing on any product(s) or related information as reflected on the Site may due to some technical issue, typographical error or other reason by incorrect as published and as a result you accept that in such conditions the seller or the Site may cancel your order without prior notice or any liability arising as a result. Any prepayments made for such orders will be refunded to you per our refund policy as stipulated here.</span></p>
<p>&nbsp;</p>