<ion-header  class="ionDefaultHeader"  >
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" (click)="goBack()" >
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-8 no-padding no-margin class="colHheaderLabel">
        <ion-label class="upperHeading">Privacy Policy</ion-label>
      </ion-col>
    </ion-row>
    <div>
    </div>
  </ion-header>
  <ion-content padding>
   <div>
          <ion-label no-padding no-margin no-lines text-wrap  [innerHtml]='privacy_policy_test'>
              <!-- {{selectedBeautyTip.bt_description}} -->
            </ion-label>
      </div>
  </ion-content>
  