<ion-header [ngClass]="!isFirstTime ? 'ionHeader' : 'noClass' ">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow"> </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <div id="testTap" (click)="eventName()"></div>
      <ion-label class="upperHeading" (tap)="switchEnviroment($event)"> Home </ion-label>
    </ion-col>
    <ion-col col-2 hidden no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>


  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>

</ion-header>
<ion-content>

  <ion-list [attr.disabled]='true' class="Home-page-listing" *ngFor="let item of  homepageData; let i=index" no-padding
    no-margin no-lines no-margins>
    <ion-item *ngIf="item.sort_order == 1 && item.isDeal!=1" class="featuredItem" (click)='findNextPage(item)'>
      <img item-left class="featuredImage" [src]="homeImageUrl + item.sectionImage" />
      <div class="featuredItem-sectionName-lbl" text-wrap [innerHtml]='item.sectionName'>

      </div>

      <span text-wrap hidden class="featuredItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
      <span text-wrap class="featuredItem-otherDescription-lbl">{{item.otherDescription}}</span>
      <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
    </ion-item>

    <ion-item no-padding no-margin class="unFeaturedItem" *ngIf="item.sort_order != 1 && item.isDeal!=1">

      <img item-left class="unFeaturedItemImage" [src]="homeImageUrl + item.sectionImage" />
      <div class="unFeaturedItem-sectionName-lbl" text-wrap [innerHtml]='item.sectionName'>
      </div>


      <span text-wrap hidden class="unFeaturedItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
      <span text-wrap class="unFeaturedItem-otherDescription-lbl">{{item.otherDescription}}</span>
      <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
    </ion-item>
    <div class="separator"> </div>
  </ion-list>



</ion-content>