page-main-home {
    .fabButton {
        background: transparent !important;

        .fab {
            // background: blue !important;
            background: rgb(255, 111, 21);
            width: 40px;
            height: 40px;

            // margin-top: 25px;
            // border: solid 2px white;
            .fab-close-icon {
                background: green !important;
            }
        }
    }

    .customSplash {
        margin-top: 30px !important;
    }

    .strip_design_wrapper {
        // border-bottom: 1px solid #a0a0a0 !important;
        padding-bottom: 10px !important;
        // animation: mover 1s infinite alternate;
    }

    .strip_design {
        color: rgb(191, 69, 101);
        font-size: 3.76vw;
        padding: 10px 10px 0px 10px !important; // margin-bottom: -10px !important;
        font-family: $Montserrat-Regular !important;
        position: relative;
        text-align: center;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    .ionHeader {
        height: 24.1vw;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        padding-bottom: 2.64vw;
        background: $Beautyapp-gradient-color;

        .headerRow {
            height: calc(100% - 4pt);

            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;

                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 5vw;
                    width: 100%; // margin-top: 25px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%); // background: darkorange;
                }
            }

            .colMenu {

                // background: darkorange;
                .menuIcon {
                    width: 7.93vw;
                    height: 4.5vw; // position: absolute;
                    // right: 3.7vw;
                    z-index: 1;
                    transition: 0.2s linear;
                    position: relative;
                    top: 50%;
                    left: 25%;
                    ;
                    transform: translateY(-50%, 25%); // 
                    // background: green;
                }
            }
        }

        .lblSeparator12 {
            width: 100% !important; //calc(100% - 10pt);
            background: rgb(0, 144, 206) !important;
            height: 4pt;
        }
    }

    

    .itemDescription {
        font-family: $Montserrat-Medium !important;
        font-size: 3.43vw;
        font-weight: bold;
        color: rgb(84, 84, 84);
    }

    .scroll-content {
        margin-top: 0px;
    }

    .menuButton:active {
        background-color: transparent;
    }

    .menuButton:focus {
        background-color: transparent;
    }

    .Home-page-deal-section {
        position: relative !important;
        background: rgba(0, 0, 0, 0.3);
        width: 100% !important; // z-index: 999 !important;
        top: 0;

        .deal-section-dealOfMoment-lbl {
            font-size: 4.76vw;
            font-family: $Montserrat-Bold;
            background: red;
        }

        .deal-section-deal-product {
            background: red !important;

            .deal-section-center-container {
                margin-left: auto;
                margin-right: auto;
                background: lime;
                height: 100px;
                width: 100px;
            }

            .deal-section-deal-discount {
                background: yellow;
                position: absolute;
                margin-left: 10px;
                margin-top: 10px;
                width: 200px;
            }
        }

        .deal-section-prices-container {
            background: lime !important;
        }

        .deal-section-timeLimit {
            background: yellow !important;
        }

        .deal-section-share-ontainer {
            background: pink !important;
        }

        .deal-section-getInfo {
            background: wheat !important;
        }
    }

    .right-image {
        width: 2.116vw !important;
        height: 4.23vw !important;
    }

    .separator {
        width: 100% !important;
        font-size: 5.2vw !important; //background: #808080;
        background: rgb(219, 218, 218) !important;
        height: 1px !important;
        margin-top: 0px !important;
    }

    .contentMainTemp {
        margin-top: -80px !important;
    }

    .Home-page-listing {
        width: calc(100% - 6vw) !important;
        margin: 5vw 3vw !important;


        .featuredItem {
            min-height: 40.2vw !important;
            padding-bottom: 0px !important;
            padding: 0px !important;
            margin: 0px !important;

            .featuredImage {
                width: 25vw !important;
                height: 25vw !important;
                margin-left: 3.66vw !important;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 1vw;
            }

            .featuredItem-sectionName-lbl {
                color: black;
                font-size: 4.76vw;
                font-family: $GothamRounded-Bold;
            }

            .featuredItem-sectionDescription-lbl {
                margin-top: 1.46vw !important;
                font-size: 3.7vw;
                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
            }

            .featuredItem-otherDescription-lbl {
                // margin-top: 7px;
                margin-top: 1.46vw !important;
                font-size: 3.2vw;
                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
            }
        }

        .unFeaturedItem {
            min-height: 32vw !important;
            margin: 0px;
            margin: 0px;
            padding-bottom: 0px !important;
            // background: rgb(238, 238, 238) !important;
            // background: white !important;
            background: rgba(235, 231, 231,0.3);
            border-bottom: 5px solid red; // background: blue !important;

            .unFeaturedItemImage {
                width: 22vw !important;
                height: 22vw !important;
                margin-left: 18px !important;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                
            }

            .unFeaturedItem-sectionName-lbl {
                color: black;
                font-size: 4.76vw;
                font-family: $GothamRounded-Bold;
                // $GothamRounded-Bold
                
            }

            .unFeaturedItem-sectionDescription-lbl {
                margin-top: 7px;
                font-size: 3.7vw;
                
                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
                // background: green;
            }

            .unFeaturedItem-otherDescription-lbl {
                margin-top: 0px !important;
                font-size: 3.2vw;
                
                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
                // background: green;
            }
        }

        .dealOfMomentItem {
            // background: rgb(238, 238, 238) !important;
            background: white !important;
        }
    }

    .item-inner {
        min-height: 1px !important;
    }

    .label-md {
        margin-bottom: 1px !important;
        margin-top: 1px !important;
    }

    ion-item-divider {
        margin-bottom: 0px;
        min-height: 1px !important;
    }

    .separator {
        background-color: rgb(230, 230, 230);
        height: 2px !important;
        margin-bottom: 0px !important;
    }

    .backButton {
        font-size: 5.29vw;
        font-weight: 'bold';
    }

    .mainView {
        background-color: rgb(240, 240, 240);
    }

    .item-ios ion-reorder {
        z-index: 9898;
        position: absolute;
        right: 10pt; // bottom: 5pt;
        // width: 10pt;
        // height: 15pt;
        padding: 0pt;
        margin: 0pt;
        background: transparent;
    }

    .item-md ion-reorder {
        z-index: 9898;
        position: absolute;
        right: 10pt;
        bottom: 5pt;
        width: 10pt;
        height: 10pt;
        padding: 0pt;
        margin: 0pt;
    }

    .topImage {
        background: red;
        height: 202px;
        margin-left: 28px !important;
        padding: 20px;
        padding-top: 53px;
        padding-bottom: 53px;
        width: 102px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    //testing contents
    //end testing contents
}