expandable {
    
    .expand-wrapper {
        position: relative;
        text-align: center;
        animation: bouncearrow 1s 1;
        // transform: (.2);
        // transform: skew(30deg, 20deg);
        // transform: scale(1) translate(5%, 5%) skew(-10deg, -10deg 10deg);
    }
    @-webkit-keyframes bouncearrow {
        0% {
            top: 0px;
        }
        50% {
            top: 10px;
        }
        100% {
            top: 0px;
        }
    }
    @keyframes bouncearrow {
        0% {
            top: 0px;
        }
        50% {
            top: 10px;
        }
        100% {
            top: 0px;
        }
    }
    .collapsed {
        position: relative;
        text-align: center;
        animation: exCollapase 1s 1;
    }
    @-webkit-keyframes exCollapase {
        0% {
            top: 10px;
        }
        50% {
            top: 0px;
        }
        100% {
            top: 10px;
        }
    }
    @keyframes exCollapase {
        0% {
            top: 10px;
        }
        50% {
            top: 0px;
        }
        100% {
            top: 10px;
        }
    }
}