<ion-header   class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Beauty Tips</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>

<ion-content class="contnet" fullscreen #myContent >
  <div class="genderSelection"> 
  <div class="BaseGenderSegment" no-margin no-padding>
    <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
      <ion-segment-button value="English" (click)="postsInEnglishTapepd()">English</ion-segment-button>
      <ion-segment-button value="Urdu" (click)="postsInUrduTapepd()">Urdu</ion-segment-button>
    </ion-segment>
    <ion-card no-padding no-margin no-lines class="sliderContainer">
      <ion-card-content no-padding no-margin no-lines class="slider" id="slider_bw">
      </ion-card-content>
    </ion-card>
  </div>
</div>

  <div class="hero-article" *ngIf="shouldShowPostsInEnglish">
  <div  *ngFor="let tipDetail of beautyTipsDetail let i=index;" [hidden]="!tipDetail.bt_title || tipDetail.bt_title.trim().length === 0"  >
      <div *ngIf="i===0">
          <div    (click)="categoryClicked($event, tipDetail,0)"  >
              <div class="feature-item-image">
                 <img  
                 [src]="tipDetail.bt_imageUrl"
                 onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" />
              </div>
           </div>
     
        <!-- <div class="feature-item-image">
            <img  [src]="tipDetail.bt_imageUrl" >
        </div>
    <ion-card no-padding no-margin no-lines class="heroArticleContent-view-page" (click)="categoryClicked($event, tipDetail,0)">
      <div hidden class="divAddToFavorite">
        <ion-label>Add to Favourities</ion-label>
        <img  src="./assets/imgs/ addToFavorite.png">
      </div>
    </ion-card>
      </div> -->
    </div>

    <div   class="heroArticleBottomContent-view-page">
       <div *ngIf="i===0">
      <ion-label no-lines no-padding no-margin text-wrap  class="lblTitle">            
          <span class="tagStyleTop" (click)="tagClickek($event, tipDetail,i)">
            {{tipDetail.btc_name}} / </span>
          {{tipDetail.bt_title}}</ion-label>
        <ion-label no-lines no-padding no-margin text-wrap  class="lblDescription"> {{tipDetail.bt_short_description}} </ion-label>
        <ion-card hidden no-lines no-padding no-margin class="ratingCard">
          <rating [(ngModel)]="myRating" readOnly="true" max="5" class="withRating" emptyStarIconName="star-outline"
            halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
          </rating>
        </ion-card>
      </div>
        <!-- //all tips categories English-->
     <div class="lstContent" *ngIf="i !== 0 ">
        <ion-list   (click)="categoryClicked($event, tipDetail,i)"   class="listingContent" no-padding no-margin  >
             <!-- <ion-item no-lines no-margins no-padding class="unFeaturedItem" (click)='findNextPage(item)'> -->
               <div>
               <div class="imageContent">
                 <img style="background:black;" no-lines no-margins no-padding  item-left class="unFeaturedImage" [src]=tipDetail.bt_imageUrl onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'"/><br>
              </div>
   
              <div class="otherContent">
              
               <div class="lblTitle-english">
                 <span class="tagStyle" (click)="tagClickek($event, tipDetail,i)"> {{tipDetail.btc_name}} / </span>  
                    {{tipDetail.bt_title}}
               </div>
              </div>
              <div   class="separator" >
                
              </div>
             </div>
             <!-- </ion-item> -->
   </ion-list>
   </div> 

      </div>
<!-- //End all tips categories Urdu-->
  </div>
</div>

  <div *ngIf="!shouldShowPostsInEnglish" >
    <div *ngFor="let tipDetail of beautyTipsDetail let i=index; " [hidden]="!tipDetail.bt_title_urdu || tipDetail.bt_title_urdu.trim().length === 0" >
      <div *ngIf="i===0">

          <div     (click)="categoryClicked($event, tipDetail,0)"  >
              <div class="feature-item-image">
                 <img  
                 [src]="tipDetail.bt_imageUrl"
                 onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" />
              </div>
           </div>

    <!-- <img class="heroArticleImage-dt" [src]="tipDetail.bt_imageUrl" >
    <ion-card no-padding no-margin no-lines class="heroArticleContent-view-page" (click)="categoryClicked($event, tipDetail,0)">
      <div hidden class="divAddToFavorite">
        <ion-label>Add to Favourities</ion-label>
        <img src="./assets/imgs/ addToFavorite.png">
      </div>
    </ion-card> -->
  </div>
    <div  class="heroArticleBottomContentUrdu-viewpage">

      <div *ngIf="i===0">
        <div no-lines no-padding no-margin text-wrap    class="lblTitle">
          <span class="tagStyleTop"
          (click)="tagClickek($event, tipDetail,i)"> {{tipDetail.btc_name}} / </span>
          {{tipDetail.bt_title_urdu}}</div>
        <ion-label no-lines no-padding no-margin text-wrap  class="lblDescription"> {{tipDetail.bt_short_description_urdu}} </ion-label>
        <ion-card hidden no-lines no-padding no-margin class="ratingCard">
          <rating [(ngModel)]="myRating" readOnly="true" max="5" class="withRating" emptyStarIconName="star-outline"
            halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
          </rating>
        </ion-card>
      </div>
      <!-- //all tips categories Urdu-->
        <div class="lstContentUrdu" *ngIf="i!==0">
            <ion-list   (click)="categoryClicked($event, tipDetail,i)"   class="listingContent" no-padding no-margin >
                 <!-- <ion-item no-lines no-margins no-padding class="unFeaturedItem" (click)='findNextPage(item)'> -->
                   <div>
                   <div class="imageContent">
                     <img style="background:black;" no-lines no-margins no-padding  item-left class="unFeaturedImage" [src]=tipDetail.bt_imageUrl onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'"/><br>
                  </div>
                  <div class="otherContent">
                   <div class="lblTitle-Urdu">
                      <span class="tagStyleUrdu"   (click)="tagClickek($event, tipDetail,i)"> {{tipDetail.btc_name}} / </span>   {{tipDetail.bt_title_urdu}}
                   </div>    
                  </div>
                  <div   class="separator" >
                  </div>
                 </div>
                 <!-- </ion-item> -->
        </ion-list>
        </div>
    </div>
    <!-- // end all tips categories Urdu-->
  </div>
  </div>
  <ion-label *ngIf="showMoreTips" class="moreOnBeautyTips">More Beauty Tips On </ion-label>
  <ion-row *ngIf="showMoreTips" class="servicesRow">
      <ion-col col-4 class="servicesColumn"  *ngFor="let beautyTip of beautyTips let i=index;"  no-padding no-margin (click)="beautyTipClicked(beautyTip,i)" >
        <div class="serviceName">
          <img class="serviceImage" [src]=categoryImageUrl+beautyTip.btc_image onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" /><br>
              {{beautyTip.btc_name}}
        </div>
      </ion-col>
  </ion-row>
</ion-content>